/* newlayout Media style */
/* ******************* Media Query ******************* */
    /* Large desktops and laptops */
    @media (min-width: 1200px) {

    }

    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
	.feature-content-meta p {
	    min-height: 100px;
	}
	.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
		padding: 15px 17px;
	}
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
	.footer-coloumn .column ul li a,
	.footer-coloumn h2, .footer-coloumn h2.widgettitle {
	    font-size: 14px;
	}
	body #top-left li {
	    padding: 0px 5px;
	}
	.custom-header-menu .ubermenu-skin-minimal.ubermenu-responsive-toggle {
		background: rgba(255, 255, 255, 0.77);
		padding: 10px 20px;
		margin-top: 30px;
	}
	.guest-chefs-img-meta img {
	    text-align: center;
	    margin: 0 auto;
	}	
	.feature-content-meta p {
	    min-height: 150px;
	}
	.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
		padding: 15px 17px;
	}

 
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
    	/* ==== ===== ==== ==== ===== ==== Header Footer ==== ===== ==== ==== ===== ==== */
	body div#top-logo-right {
	    height: 50px;
	    position: relative;
	    top: 0px;
	    left: 0px;
	    float: none;
	    width: 70%;
	}
	
	.social-wrapper {
	    text-align: right;
	}
	
	#top-left ul {
	    display: inline-block;
	}
	
	#masthead .site-branding {
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	
	body .header-wrapper #header {
		position: relative;
	}
	body #header {
		padding-top: 20px;
	}
	body #top-logo-right div#login-section-right {
	    width: 130px;
	}
	body .footer_bottom {
	    height: auto;
	}
	.footer-coloumn {
	    float: none;
	    width: 100%;
	}
	body div#footer-bottom .footer_bottom div {
	    text-align: center;
	}	
	.about-us-head h1.about-us-header.venus-lig {
	    font-family: 'VenusURW-Lig';
	    font-size: 22px !important;
	    line-height: 30px;
	}
	
	/* ==== ===== ==== ==== ===== ==== About Page ==== ===== ==== ==== ===== ==== */
        
        .why-we-learn-wrapper.take-home-what-you-make .vc_custom_1521624454598,
        .why-we-learn-wrapper.shop-the-finest-ingredients .vc_custom_1521624463240,
        .why-we-learn-wrapper.learn-online-on-any-device .vc_custom_1521624454598,
        .why-we-learn-wrapper.international-guest-chefs .vc_custom_1521624454598,
        .why-we-learn-wrapper.over-30-hand-on-classes .vc_custom_1521624454598,
        .why-we-learn-wrapper.state-of-the-art-facilities .vc_custom_1521624463240,
        .why-we-learn-wrapper.state-of-the-art-facilities .vc_custom_1521624463240,
        .why-we-learn-wrapper.award-winning-teacher .vc_custom_1521624463240 {
	    padding: 0 10px 40px 10px !important;
	}
	
	
	.why-we-learn-wrapper.shop-the-finest-ingredients .vc_column-inner.vc_custom_1521624454598,
	.why-we-learn-wrapper.state-of-the-art-facilities .vc_custom_1521624454598,
	.why-we-learn-wrapper.award-winning-teacher .vc_column-inner.vc_custom_1521624454598,
        .why-we-learn-wrapper .vc_custom_1521624463240,
        .about-video-content-section .vc_custom_1521711556264,
        .about-video-content-section .vc_custom_1521711163515 {
            padding: 0 !important;
        }
        
        .about-newsletter .vc_empty_space {
	    height: 0 !important;
	}
	
	body .about-newsletter .gform_wrapper .gform_body {
	    display: inline-block;
	    width: 100% !important;
	    float: none;
	}
	
	body .about-newsletter .gform_wrapper .gform_footer {
	    width: 98%;
	}
	
	#content .about-newsletter #gform_wrapper_2 .home-newsletter-form .newsletter-field input {
	    height: 40px;
	}
	
	.about-newsletter .vc_column-inner {
	    padding: 0px 0 0 !important;
	}
	
	/* ==== ===== ==== ==== ===== ==== About Page ==== ===== ==== ==== ===== ==== */
        
	.about-the-school-video .vc_custom_1521714604876 {
	    padding: 0 !important;
	}
	
	.about-the-school-video .vc_custom_1521713705167 {
	    padding: 0 !important;
	    padding-top: 20px !important;
	}
	
	.a-tipical-day-at-savour.about-the-school-tipical-day .vc_column-inner.vc_custom_1521624454598,
	.a-tipical-day-at-savour.about-the-school-tipical-day .vc_column-inner.vc_custom_1521624463240 {
	    padding: 0 15px !important;
	}
	
	.a-tipical-day-at-savour.about-the-school-tipical-day h2, 
	.a-tipical-day-at-savour.about-the-school-tipical-day p,
	.a-tipical-day-at-savour.about-the-school-tipical-day .vc_column-inner.vc_custom_1521624454598 .wpb_text_column.about-the-tour-block p,
	.a-tipical-day-at-savour.about-the-school-tipical-day .vc_column-inner.vc_custom_1521624454598 .wpb_text_column.about-the-tour-block h2,
	.a-tipical-day-at-savour.about-the-school-tipical-day .vc_column-inner.vc_custom_1521624463240 .wpb_text_column.about-the-tour-block p,
	.a-tipical-day-at-savour.about-the-school-tipical-day .vc_column-inner.vc_custom_1521624463240 .wpb_text_column.about-the-tour-block h2 {
	    text-align: center;
	}
	
	/* ==== ===== ==== ==== ===== ==== Chef Page ==== ===== ==== ==== ===== ==== */
	.guest-chefs-img-meta img {
	    text-align: center;
	    margin: 0 auto;
	}
	
	.single-chef-slider-wrapper {
	    width: 100%;
	    margin: 30px auto;
	}
	.single-chef-content {
	    padding: 0;
	}
	
	/* ==== ===== ==== ==== ===== ==== Contact Page ==== ===== ==== ==== ===== ==== */
	.educate-cta a {
	    display: block;
	    padding: 10px 10px;
	    margin-bottom: 10px;
	}
	
	.howtoworkWrap .vc_column-inner:after {
	    content: url(../images/down.png);
	    right: 0;
	    top: 83%;
	    left: 0;
	}
	
	.howtoworkWrap .second .vc_column-inner:after {
	    top: 87%;
	}
        
	
    }

    @media (max-width: 640px) {
	
    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {

    }
    @media (max-width: 320px) {
    
      
    }