/* newlayout-style */

/* *********** General fonts *********** */
/* VenusURW-Lig Font */
@font-face {
    font-family: 'VenusURW-Lig';
    src: url('../fonts/VenusURW-Lig/VenusURW-Lig.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VenusURW-Lig/VenusURW-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/VenusURW-Lig/VenusURW-Lig.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/VenusURW-Lig/VenusURW-Lig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/VenusURW-Lig/VenusURW-Lig.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* CrimsonText-Regular Font */
@font-face {
    font-family: 'CrimsonText-Regular';
    src: url('../fonts/CrimsonText-Regular/CrimsonText-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CrimsonText-Regular/CrimsonText-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/CrimsonText-Regular/CrimsonText-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/CrimsonText-Regular/CrimsonText-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/CrimsonText-Regular/CrimsonText-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* BritannicComD-Med Font */
@font-face {
    font-family: 'BritannicComD-Med';
    src: url('../fonts/BritannicComD-Med/BritannicComD-Med.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BritannicComD-Med/BritannicComD-Med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/BritannicComD-Med/BritannicComD-Med.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/BritannicComD-Med/BritannicComD-Med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/BritannicComD-Med/BritannicComD-Med.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* VenusURW-Med Font */
@font-face {
    font-family: 'VenusURW-Med';
    src: url('../fonts/VenusURW-Med/VenusURW-Med.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VenusURW-Med/VenusURW-Med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/VenusURW-Med/VenusURW-Med.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/VenusURW-Med/VenusURW-Med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/VenusURW-Med/VenusURW-Med.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

.BritannicComD-Med{
	font-family:'BritannicComD-Med';
}

.venus-lig{
	font-family: 'VenusURW-Lig';
}



/* Header */

.page-title h1 {
    font-family: 'BritannicComD-Med';
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 400;
}

.home #header{
	background-color:#000;
	padding-bottom: 30px;
	padding-top: 20px;
	position:relative;
	top:0;
	width:100%;
	z-index:10;
}

#header {
    background-color: transparent;
    padding-top: 20px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.search-social form.search-form{
	border-right:0;
	margin-right:0;
}

div#top-left{
	border:0;
	height:auto;
}
div#top-logo-right{
	float:right;
	height:auto;
	border:0;
}
#top-logo-right .cart_links{
	padding:16px 20px;
	border-left:0;
}
.navbar-inverse{
	border:0 solid #fff;
	margin-bottom:0;
}

.custom-header-menu nav.navbar ul li.ubermenu-item-level-0 > a.ubermenu-target {
	font-family: 'VenusURW-Lig';
}

.header-wrapper img.header-img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
}


.ubermenu-main ul li.ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-target {
	color: #c9ab62;
}

body .social-wrapper ul li a:hover i.fa,
body #login-section-right a.account-btn:hover{
	color: #c9ab62 !important;	
}

.account_links a.account-btn {
	font-family: 'CrimsonText-Regular';
}

.home-content-body{
	margin-top:30px;
	z-index:0;
	position:relative;
}


.home-content-body{
	margin-top:0;
}
.home-content-body .home-tab-section{
	padding-bottom:30px;
	padding-top:20px;
	background-color:#fff3fa;
}
.home-content-body .home-tab-section ul.nav.nav-pills{
	margin:0;
}
.home-content-body .home-tab-section ul.nav.nav-pills li a{
	background-color:#372e29;
	border:0;
	color:#fff;
	text-transform:uppercase;
}
.home-content-body .home-tab-section ul.nav.nav-pills li a :focus{
	color:#fff;
	background-color:#372e29;
}
.home-content-body .home-tab-section ul.nav.nav-pills li a :hover{
	color:#fff;
	background-color:#372e29;
}
.home-content-body .home-tab-section ul.nav.nav-pills .active a{
	color:#fff;
	background-color:#4C4542;
	text-transform:uppercase;
}
.home-content-body .home-tab-section div .tab-content{
	margin-top:5px;
}
.home-content-body .home-tab-section div .tab-content .tab-pane{
	background-repeat:no-repeat;
	background-position:center center;
	padding:30px 50px;
	color:#fff;
	min-height:500px;
}
.home-content-body .home-tab-section div .tab-content .tab-pane p{
	width:70%;
}
.home-content-body .home-tab-section div .tab-content .tab-pane a.home-tab-pills{
	position:absolute;
	bottom:50px;
	color:#fff!important;
}
.home-content-body #email_signup.newsletter-section{
	background-image:url('../../images/new-img/newsletter.jpg');
}
.home-content-body #email_signup.newsletter-section .newsletter-wrapper{
	background-color:transparent;
}
.home-content-body #email_signup.newsletter-section .newsletter-wrapper .title{
	color:#fff;
	font-family:'BritannicComD-Med';
}
.home-content-body #email_signup.newsletter-section .newsletter-wrapper p{color:#fff}.home-content-body #email_signup.newsletter-section .newsletter-wrapper .home-newsletter-form_wrapper .home-newsletter-form .gform_body{width:66%}.home-content-body #email_signup.newsletter-section .newsletter-wrapper .home-newsletter-form_wrapper .home-newsletter-form .gform_footer{width:33%}.home-content-body #email_signup.newsletter-section .newsletter-wrapper .home-newsletter-form_wrapper .home-newsletter-form .gform_footer input#gform_submit_button_2{background-color:#c9ab62}.home-content-body #email_signup.newsletter-section .newsletter-wrapper .home-newsletter-form_wrapper .home-newsletter-form .newsletter-field div.ginput_container{margin-right:10px}.home-content-body #email_signup.newsletter-section .newsletter-wrapper .home-newsletter-form_wrapper .home-newsletter-form .newsletter-field div.ginput_container input{background-color:#fff3fa}.home-content-body .home-product-section .title{text-align:center}.home-content-body .home-product-section .swiper-container{width:100%;height:100%}.home-content-body .home-product-section .swiper-container .swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}

/* ====================================================== About Us ====================================================== */

.about-us-head h1.about-us-header.venus-lig {
    font-family: 'VenusURW-Lig';
    font-size: 38px !important;
    line-height: 41px;
    margin-top: 0px;
    font-weight: 600 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content-center {
    display: table;
    height: 430px;
    width: 100%;
}

.content-center div {
  display: table-cell;
  vertical-align: middle;
}

body #content .about-section-wrapper h2.about-section-title {
    text-align: center;
    font-size: 50px;
    font-family: 'BritannicComD-Med';
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 400;
}

#content .why-we-learn-wrapper h2 {
	font-family: 'VenusURW-Lig';
	font-size: 36px;
	line-height: 38px;
   	font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}

.why-we-learn-wrapper a,
.why-we-learn-wrapper p {
    color: #000;
    font-family: 'CrimsonText-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.why-we-learn-wrapper a{
	text-decoration: underline;
}

body .about-learning1 .icon-1 {
    background-image: url(../images/icon/about-icon-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 48px;
    margin: 0px auto;
    padding-bottom: 110px;
    width: 100%;
}

body .about-learning1:hover .icon-1 {
  cursor: pointer;
  background-image: url(../images/icon/about-icon-1-gold.png);
}

body .about-learning2 .icon-2 {
    background-image: url(../images/icon/about-icon-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 48px;
    margin: 0px auto;
    padding-bottom: 110px;
    width: 100%;
}

body .about-learning2:hover .icon-2{
  cursor: pointer;
  background-image: url(../images/icon/about-icon-2-gold.png);
}

body .about-learning3 .icon-3 {
    background-image: url(../images/icon/about-icon-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 48px;
    margin: 0px auto;
    padding-bottom: 110px;
    width: 100%;
}

body .about-learning3:hover .icon-3{
  cursor: pointer;
  background-image: url(../images/icon/about-icon-3-gold.png);
}

#content .about-learning-now-with-sevour h2 {
    font-family: 'VenusURW-Lig';
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

.about-learning-now-with-sevour {
    text-align: center;
}

.about-learning-now-with-sevour a {
    color: #000;
    text-decoration: underline;
}

#content .about-newsletter h2.title {
    text-align: center;
    color: #fff;
    font-family: 'BritannicComD-Med';
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 400;
}

#content .about-newsletter .newsletter-subtext {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'VenusURW-Med';
}

#content .about-newsletter #gform_wrapper_2 .home-newsletter-form .newsletter-field input {
    background-color: #fde7ed;
    height: 62px;
    border: none;
    padding: 10px;
    border-radius: 0;
    outline: none;
}

.about-newsletter .gform_wrapper .top_label li.gfield.gf_left_half,
.about-newsletter .gform_wrapper .top_label li.gfield.gf_left_half+li.gfield {
    width: 50%;
}

body .about-newsletter .gform_wrapper .gform_body {
    display: inline-block;
    width: 67%;
    float: left;
}

body .about-newsletter .gform_wrapper .gform_footer {
    padding: 0px;
    margin: 24px 0 0;
    width: 33%;
    display: inline-block;
}

.img-col-first, .img-col-second, .img-col-third, .img-col-forth{
    border: 0px solid rgba(102,119,110,0.07);
}

/* ====================================================== About The Tour ====================================================== */

#content .about-the-tour-block h2 {
    font-family: 'VenusURW-Lig';
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
    margin-top: 10px;
}

#content .about-the-tour-block p {
	color: #000;
    font-family: 'CrimsonText-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.educate-yourself .about-us-head h1.about-us-header.venus-lig {
    font-family: 'VenusURW-Lig';
    font-size: 38px !important;
    line-height: 41px;
    margin-top: 0px;
    font-weight: 600 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 20px !important;
}

.educate-yourself p {
color: #fff;
    font-family: 'CrimsonText-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

body .about-the-tour-online-classes a.vc_btn3.vc_btn3-color-white {
    color: #fff;
    background-color: #372e29;
}

body .about-the-tour-online-classes a.vc_btn3.vc_btn3-color-white:hover {
	color: #372e29;
    background-color: #fff;
}

body .about-the-tour-classes a.vc_btn3.vc_btn3-color-white {
    color: #fff;
    background-color: #c9ab62;
}

body .about-the-tour-classes a.vc_btn3.vc_btn3-color-white:hover {
	color: #c9ab62;
    background-color: #fff;
}

/* ====================================================== Chefs Page ====================================================== */

.feature-img-meta img.feature-chefs {
    width: 100%;
}

.feature-content-meta {
    background-color: #fde7ed;
    padding: 20px 60px 30px;
    text-align: center;
}

.feature-content-meta h2 {
    font-family: 'VenusURW-Lig';
    font-size: 35px !important;
    line-height: 41px;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

.feature-content-meta p {
    color: #000;
    font-family: 'CrimsonText-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.feature-content-meta a {
    color: #000;
    text-decoration: underline;
}

.chefs-featured-wrapper {
    display: inline-block;
    padding-bottom: 40px;
    /*border: 2px solid #e6e7e8;*/
}

#content .guest-chefs-title-wrapper h2 {
    font-family: 'BritannicComD-Med';
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
}

#content .guest-chefs-title-wrapper p {
    color: #000;
    font-family: 'CrimsonText-Regular';
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


.guest-chefs-content-meta h2 {
    font-family: 'VenusURW-Lig';
    font-size: 18px !important;
    line-height: 20px;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}

.guest-chefs-content-meta p {
    color: #000;
    font-family: 'CrimsonText-Regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}


.guest-chefs-img-meta img.feature-chefs {
    width: 100%;
}

.guest-chefs-content-meta {
    background-color: #fff;
    padding: 20px 60px 30px;
    text-align: center;
}

.guest-chefs-title-wrapper {
    margin-bottom: 50px;
}

.guest-chefs-content-meta a {
    color: #000;
    text-decoration: underline;
}

/* ====================================================== Chef Single ====================================================== */

.single-chef-content {
    padding: 20px 0;
}

#content .single-chef-title h2 {
    font-family: 'VenusURW-Lig';
    font-size: 38px !important;
    line-height: 50px;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    margin: 10px 0;
}

#content .single-chef-designation h6 {
    font-family: 'VenusURW-Lig';
    font-size: 16px !important;
    line-height: 20px;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #7a7a7a;
    margin: 10px 0;
}

.single-chef-info {
    color: #000;
    font-family: 'CrimsonText-Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

ul.single-social {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.single-social li{
    display: inline-block;
    padding: 10px;
}

.single-social li a {
    font-size: 23px;
    color: #c9ab62;
    margin-right: 10px;
}

.single-chef-content {
    margin-bottom: 10px;
    border-bottom: 3px solid #e8e9ea;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.single-chef-slider-wrapper {
    width: 80%;
    margin: 50px auto;
}

body .swiper-button-next, 
body .swiper-container-rtl .swiper-button-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxoNFTTxhVzwAAAAhElEQVRIx2NgQAG37G48vh7MQAJgQuX++8AgwrjiRggpRqCB6+43vt/4PeBGuA0TI665UsOIbxQacctlMBhx03mYGHHDiRpGfL3x+6YZqigTeYbR3wsUBuLAaqcwKVOoncLsTGGBQmGRNsDaKatYKNR+Q49U7WjZmUmA4c3/CI01xBsAABkZsGVUbEpEAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTAzLTI2VDEzOjIxOjUyKzAyOjAwBdyOxAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wMy0yNlQxMzoyMTo1MiswMjowMHSBNngAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC);
    right: 10px;
    left: auto;
    background-size: auto;
}

body .swiper-button-prev, 
body .swiper-container-rtl .swiper-button-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxoNFRzEMPQKAAAAd0lEQVRIx2NgIAFcD77x+IYjqhgL8dpvhDAsZ/jL9J4UK1G03/h948cNj1Hto9pHtRMFrluSqp0JlcvIxMDI8J9M26FuiLrxhwIvUMuIyGFixM2IQWFE+GAw4kYYRbmDWkaEDiIj9FBFmYg3QGM1QyTDa0Z+VFEAEXixGM1A3ZEAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMjZUMTM6MjE6MjgrMDI6MDCradiTAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTI2VDEzOjIxOjI4KzAyOjAw2jRgLwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
    left: 10px;
    right: auto;
    background-size: auto;
}

.quote-content-wrapper {
    background-color: #fde7ec;
    display: inline-block;
    margin-bottom: 30px;
    padding: 40px 0;
    width: 100%;
}

.quote-content-wrapper .quote-content {
    line-height: 50px;
    font-family: 'CrimsonText-Regular';
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
    width: 65%;
}

.quote-content-wrapper .quote-content span {
    font-size: 43px;
}

/* ====================================================== Footer ====================================================== */

body .top_footer {
    border: none;
    min-height: auto;
    position: relative;
}

body .top_footer::before {
	display: none;
}

body .icon-1 {
    background-image: url(../images/icon/icon-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 48px;
    margin: 0px auto;
    padding-bottom: 85px;
    width: 100%;
}

body .icon-2 {
    background-image: url(../images/icon/icon-2.png);
    height: 48px;
    width: 100%;
    padding-bottom: 85px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

body .icon-3 {
    background-image: url(../images/icon/icon-3.png);
     height: 48px;
    width: 100%;
    padding-bottom: 85px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

body .icon-4 {
    background-image: url(../images/icon/icon-4.png);
    height: 48px;
    width: 100%;
    padding-bottom: 85px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

body .icon-5 {
    background-image: url(../images/icon/icon-5.png);
    height: 48px;
    width: 100%;
    padding-bottom: 85px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

body .icon-6 {
    background-image: url(../images/icon/icon-6.png);
    height: 48px;
    width: 100%;
    padding-bottom: 85px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

body .footer-class1:hover .icon-1{
  cursor: pointer;
  background-image: url(../images/icon/icon-1-gold.png);
}

body .footer-class2:hover .icon-2{
    background-image: url(../images/icon/icon-2-gold.png);
    cursor: pointer;
}

body .footer-class3:hover .icon-3{
    cursor: pointer;
    background-image: url(../images/icon/icon-3-gold.png);
}

body .footer-class4:hover .icon-4{
  cursor: pointer;
  background-image: url(../images/icon/icon-4-gold.png);
}

body .footer-class5:hover .icon-5{
    cursor: pointer;
    background-image: url(../images/icon/icon-5-gold.png);
}

body .footer-class5:hover .icon-6{
    cursor: pointer;
    background-image: url(../images/icon/icon-6-gold.png);
}

body .footer-class4:hover a,
body .footer-class1:hover a, 
body .footer-class2:hover a, 
body .footer-class3:hover a, 
body .footer-class5:hover a{
      color: #fff;
      text-decoration: none;
}

body .footer-class1, 
body .footer-class2, 
body .footer-class3, 
body .footer-class4, 
body .footer-class5 {
    text-align: center;
    padding: 10px 0 0 0;
}

.footer-coloumn {
    display: inline-block;
    float: left;
    width: 19.5%;
}

#footer_top_center .top_footer a {
    font-family: 'VenusURW-Med';
}

.footer-coloumn h2,
.footer-coloumn h2.widgettitle {
    font-family: 'VenusURW-Med';
    font-size: 16px;
    text-transform: uppercase;
}

.footer-coloumn .column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-coloumn .column ul li a {
    color: #fff;
    font-family: 'CrimsonText-Regular';
    font-size: 16px;
    font-weight: 400;
}

body .footer-center-wrapper {
    margin-top: 50px;
}

body .footer-center-wrapper {
    margin-top: 30px;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

body .footer_bottom {
    border: 0px solid #FFFDFF;
    height: 0px;
    position: relative;
}

body div#footer-bottom,
body footer#colophon {
    background-color: #000;
}

body div#footer_top_center {
    display: block;
    background-color: #000;
}

body .footer_bottom:after {
	display: none;
}

body div#footer-bottom {
    background: #000;
    margin: 30px 0px 30px 0px;
    text-align: left;
}

body div#footer-bottom .footer_bottom div {
    text-align: left;
}

.opening-hours-list td:nth-child(1) {
    width: 105px;
}

table.opening-hours-list {
    margin-top: 15px;
}

.footer-address i {
    font-size: 25px;
    margin-bottom: 15px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.forth-column ul li a i {
    margin-right: 10px;
    width: 10px;
    margin-bottom: 10px;
}