/* newlayout Media style */
/* ******************* Media Query ******************* */
    /* Large desktops and laptops */
    @media (min-width: 1200px) {

    }

    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {

    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {

    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        /* About Page */
        .about-video-content-section .vc_custom_1521711556264
        .about-video-content-section .vc_custom_1521711163515 {
            padding: 0 !important;
        }
    }

    @media (max-width: 640px) {

    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {

    }
    @media (max-width: 320px) {
      
    }