/* second-style  */
body{
    font-family: 'Open Sans', sans-serif;
}

#sidebar-home_featured {
    margin: 0;
}

/*  ============================ Header ============================ */
#top-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


#top-left li i.fa {
    color: #fff;    
}
#top-right #login-section a {
    color: #fff !important;
    background: #4C8BFF;
    padding: 8px 25px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-transform: uppercase;
    font-size: 15px;
    font-style: italic;
}
#top-right #login-section {
    padding-top: 0px;
}
#top-right .cart-box a {
    text-decoration: none;
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: 24px;
    border-radius: 15px;
    background: #4c8bff;
    z-index: 0;
}
#top-right .cart-box .fa {
    position: absolute;
    top: 3px;
    left: -18px;
    z-index: -1;
    font-size: 25px;
    color: #fff;
}
#top-right .cart-box {
    width: auto;
    padding: 0;
    display: inline-block;
    height: auto;
    position: relative;
    text-align: center;
    float: left;
}
#top_section {
    height: auto;
    border-bottom: 0px solid #eee;
    color: #79787E;
}

.search-form {
    width: auto;
    float: right;
    display: inline-block;
}

#masthead {
    padding: 0;
}

.search-social .search-submit {
    display: none;
}

/* ------------------ Menu ---------------- */
nav.navbar .menu-primary {
    text-align: center;
}
nav.navbar .menu-primary .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}
#masthead .navbar-inverse .navbar-nav a {
    padding: 10px 0;
    margin: 0 25px;
    font-size: 14px;
    color: #CCCCCB;
    font-weight: 400;
    text-transform: capitalize;
}
#masthead .navbar-inverse .navbar-nav>.active>a, #masthead .navbar-inverse .navbar-nav>.active>a:hover, #masthead .navbar-inverse .navbar-nav>.active>a:focus, #masthead .navbar-inverse .navbar-nav>li>a:hover, #masthead .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: none;
}
#masthead .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}
#masthead .site-branding {
    margin-bottom: 10px;
}
/* ------------------ Slider ---------------- */
#home-slider .soliloquy-container .soliloquy-caption {
    bottom: 100px;
    left: 150px;
    background: transparent;
    width: auto;
}
#home-slider .soliloquy-container .soliloquy-caption-inside {
    text-align: left;
}
.soliloquy-caption h2 {
    font-size: 42px;
    text-transform: uppercase;
    line-height: 58px;
    text-shadow: 2px 2px 4px #afafaf;
}
.soliloquy-caption .soliloquy-caption-inside p {
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #afafaf;
}
.soliloquy-caption .soliloquy-caption-inside .custom-slider-btn {
    padding: 15px 30px;
    background-color: #4C8BFF;
    font-size: 16px;
    text-transform: uppercase;
}

/*  ============================ Home Page ============================ */
.widget-text .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.front-page-row {
    display: block;
    padding: 60px 0 0 0;
}

.front-page-row section {
    padding: 15px 0;
}



/* ******** first featured product ******* */
.featured-section-middle img {
    height: 286px;
}



/* ******** popular product ******* */
#sidebar-popular_products .wps_image_carousel .wps_prev, 
#sidebar-popular_products .wps_image_carousel .wps_next {
    background: rgba(168, 32, 32, 0);
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 22px;
    width: 30px;
    height: 30px;
    margin-top: -35px;
    border: 1px solid #eee;
    margin-right: 15px;
}

.wps_image_carousel .wps_prev {
    background-position: 0 0;
    right: 32px;
    left: inherit;
}
.wps_image_carousel .wps_prev, .wps_image_carousel .wps_next {
    top: 0;
}

.featured-section-first {
    padding-left: 0;
}

.featured-section-last {
    padding-right: 0;
}
span.wps_title a {
    color: #777;
    font-size: 12px;
}
span.wps_foo_con {
    font-size: 11px;
}
span.woocs_price_code {
    font-weight: bold;
}
.woocs_price_code del {
    color: #b3afaf;
}



/* **************************** Upcoming classes **************************** */
.event-wrapper li:nth-child(1) {
    width: 68%;
    float: left;
    margin-right: 20px;
}
ul.event-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
}
.event-wrapper img {
    width: 100%;
}
.event-wrapper li:nth-child(2),
.event-wrapper li:nth-child(3) {
    width: 30%;
    float: left;
}
.event-wrapper li:nth-child(1),
.event-wrapper li:nth-child(2),
.event-wrapper li:nth-child(3) {
    position: relative;
}
.event-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.event-inner-wrapper li:nth-child(1) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
    font-size: 20px;
    font-weight: bold;
    background-color: #2d86fe;
    color: #fff;
    width: 125px;
}
.event-wrapper li:nth-child(2) .event-inner-wrapper li:nth-child(1),
.event-wrapper li:nth-child(3) .event-inner-wrapper li:nth-child(1) {
    font-size: 18px;
    width: 100px;
}
.event-wrapper li:nth-child(1) img {
    height: 690px;
}

/*  for title */
.event-wrapper ul.event-inner-wrapper li:nth-child(2) {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 22px;
    line-height: 51px;
    background: rgba(133,133,133,0.8);
    text-transform: uppercase;
    font-weight: bold;
}
.event-wrapper ul.event-inner-wrapper li:nth-child(2) a{
    color: #FFFFFF;
    margin-left: 10px;
    text-decoration: none;
}
.event-wrapper ul.event-inner-wrapper li:nth-child(2) span {
    width: 100%;
    display: block;
    line-height: 10px;
}

.event-wrapper li:nth-child(2) {
    margin-bottom: 20px;
}
.event-wrapper li ul.event-inner-wrapper li:nth-child(1) {
    margin-right: 0;
}

ul.event-inner-wrapper li:nth-child(2) {
    margin-bottom: 0;
}
ul.event-inner-wrapper li:nth-child(1) span {
    display: block;
    text-align: center;
}
ul.event-inner-wrapper li span.cus-event-mon,
ul.event-inner-wrapper li span.event-day {
    font-weight: 400;
    text-transform: uppercase;
}

ul.event-inner-wrapper li span.cus-event-date {
    font-size: 30px;
}

.event-wrapper li .event-inner-wrapper li:nth-child(2) span {
    background-color: rgb(45, 254, 186);
}


/* ******** Browse our categories ******* */
.section-title {
    text-align: center;
}
.custom-section-title span.custom-font-italic {
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
}

.custom-section-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.custom-section-title span {
    text-transform: uppercase;
}
.custom-title-border {
    border-bottom: 2px solid #404040;
    width: 130px;
    margin: 0 auto;
    height: 0px;
}
.woocs1 .woocs_container {
    width: inherit;
    display: block;
    max-width: 300px;
    padding: 10px 0px 10px 0px;
    margin: 1px auto;
}

.woocs1 .woocs_container .woocs_title {
    position: absolute;
    bottom: 35px;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.54);
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
}
.woocs_title a {
    color: #333;
}
.wcs-viewport li:nth-child(9), .wcs-viewport li:nth-child(3)  {
    display: none;
}

/* ******* Latest news ****** */
.rpwwt-widget ul.custom-news-design li img {
    float: none;
    margin: 0 0 20px 0;
}
ul.custom-news-design li{
    text-align: center;
}
a.btn.btn-custom {
    background: #2A53FD;
    background: -moz-linear-gradient(left, #2A53FD 0%, #2A53FD 100%);
    background: -webkit-linear-gradient(left, #2A53FD 0%,#2A53FD 100%);
    background: linear-gradient(to right, #2A53FD 0%,#2A53FD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A53FD', endColorstr='#2A53FD',GradientType=1 );
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 10px;
}
.custom-read-more {
    margin: 10px 0;
}
.custom-content-wrapper {
    padding: 35px 25px;
    border-left: 3px solid #eee;
    border-right: 3px solid #eee;
    border-top: 8px solid #eee;
    border-bottom: 3px solid #eee;
}
.rpwwt-post-date {
    position: absolute;
    top: 0;
    margin-left: 40%;
    margin-right: 40%;
    left: 0;
    right: 0;
    z-index: 999999;
    width: auto;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0px;
}
.rpwwt-post-date .date-in-num {
    font-size: 24px;
    line-height: 18px;
    color: #2bfef5;
}
.date-in-month {
    font-size: 12px;
    line-height: 14px;
    color: #26feab;

}
.custom-content-wrapper .rpwwt-post-title {
    min-height: 45px;
    color: #797979;
    font-size: 13px;
}
#sidebar-latest_news .section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 10px;
}
.custom-content-wrapper a {
    text-decoration: none;
}
/* ********************************************* New envent css ********************************************* */
.home .post-490 {
    width: 68%;
    float: left;
    margin-right: 20px;
    position: relative;
}
.home .post-482, 
.home .post-462 {
    width: 30%;
    float: left;
    position: relative;
    margin-bottom: 17px;
}
.home .type-tribe_events img {
    width: 100%;
}
.home .list-date {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
    font-size: 20px;
    font-weight: bold;
    background-color: #2d86fe;
    color: #fff;
    width: 125px;
    margin: 0;
}

.home .list-info {
    width: 100%;
    margin: 0;
}
.home .list-date span {
    font-size: 20px !important;
    background: #2d86fe !important;
    padding: 0 !important;
}
.home .list-dayname {
    font-weight: 400;
    color: #fff !important;
}
.home .list-date span.list-daynumber {
    font-size: 38px !important;
    line-height: 42px;
}
.home .list-date span.list-month {
    text-transform: uppercase;
    font-weight: 400;
}
.home h2.tribe-events-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 22px;
    /*line-height: 51px;*/
    background: rgba(133,133,133,0.8);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}
.home .tribe-events-title a {
    color: #fff;
    margin-left: 10px;
    line-height: 50px;
    text-decoration: none;
}
.home span.events-title-bg-color {
    display: block;
    background-color: rgb(45, 254, 186);
    line-height: 10px;
}
.home .tribe-events-duration,
.home .tribe-events-location {
    display: none;
}
.home .type-tribe_events .tribe-mini-calendar-event.event--1 {
    margin-bottom: 0;
    border-bottom: none;
}
.home .list-info:hover .events-title-bg-color {
    background-color: rgb(254, 28, 114) !important;
}

.class-list-event .tribe-events-event-image {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.class-list-event .tribe-events-event-image img {
    width: 200px;
}
.class-list-event h2.tribe-events-title {
    display: inline-block;
}

/*  ********* Above footer ********* */
/*.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 4px;
    width: 120px;
    height: auto;
    box-shadow: none;
}
#sidebar-featured_product .section-title {
    text-align: left;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-custom-title-border {
    border-bottom: 2px solid #404040;
    width: 120px;
    height: 0px;
    display: block;
    margin-left: 15px;
}
#sidebar-featured_product.woocommerce ul.cart_list, 
#sidebar-featured_product.woocommerce ul.product_list_widget {
    margin-top: 20px;
}

.product-title {
    color: #ff4948;
    font-size: 12px;
    font-weight: 400;
}
.menu-primary{
    padding:0 0 0 5px;
}*/



/* =============================================== New Layout ============================================= */

#home-featured-four > div {
    background: #141414;
    padding-bottom: 2px;
}
.container-fluid-bg-black {
    background-color: #363636;
    padding: 15px 0 40px 0;
}
.container-fluid-bg-gray {
    background-color: #B7B7B7;
}
.product-category-section {
    padding: 15px 0 40px 0;
}
.woocs1 .woocs_container img {
    padding: 0px;
    border: #EEEEEE 0px solid;
    background: #FFFFFF;
}
#home-video-list .online-login {
    display: block;
    border-color: #2d86fe;
    background-color: #2d86fe;
}
.date-in-month {
    color: #2A53FD;
}
.rpwwt-post-date .date-in-num {
    color: #2A53FD;
}
.home-social-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}
.home-social-media {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
}
.home-social-media li {
    display: inline-block;
    margin: 0 12px;
    font-size: 24px;
}
.savour-social-section section {
    padding: 0;
    text-align: center;
}
.home-social-media li a {
    color: #fff;
}
ul.home-social-images {
    margin: 0;
    padding: 0;
}
.home-social-images li {
    width: 259px;
    display: inline-block;
    padding: 0 5px 0 5px;
    border-left: 1px solid #333;
}
.home-social-bg {
    padding: 35px 0 40px 0;
}
.home-image-first {
    border-left: none;
}
.home-image-last {
    border-right: none;
}
.product-new-sale-top-rated ul.nav {
    margin: 0;
}
.product-section {
    padding: 40px 0 30px;
}

.featured-products-main ul.product_list_widget li {
    display: inline-block;
    text-align: center;
    margin: 0 auto !important;
    width: 170px;
    float: left;
    padding: 0 10px;
}
.featured-products-main img {
    float: none !important;
    /*display: block;*/
    width: auto !important;
    margin-left:0 !important; 
}
.featured-products-main .product-title {
    font-size: 12px;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 0px solid #ddd;
    border-radius: 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border: 0px solid #ddd;
}
.product-new-sale-top-rated ul li.arrow_box a {
    padding: 30px;
    text-transform: uppercase;
}
.product-tab {
    background-color: #E4E4E6;
}
.container-fluid-bg-gray-bg{
    background-color: #ededed;
}

.arrow_box.active {
    position: relative;
    background: #fff;
    border: none;
}
.arrow_box.active:after, .arrow_box.active:before {
    top: 100%;
    left: 55%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box.active:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 8px;
    margin-left: -30px;
}
.arrow_box.active:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 8px;
    margin-left: -30px;
}
.featured-products-main .product-title {
    font-size: 12px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
}
.featured-products-main section {
    padding: 40px 0 10px 0px;
}
#footer-top-section {
    text-align: center;
}
#footer-top-section ul {
    margin: 0 auto;
    display: inline-block;
    padding: 0;
}
#footer-top-section ul li {
    list-style: none;
    float: left;
    padding: 0 40px;
}
#footer-top-section ul li p {
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0;
}

.footer-top-link {
    text-align: center;
    border-right: 1px solid #404040;
}
.footer-top-wrapper {
    border-bottom: 1px solid #404040;
}
.footer-top-link p {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.second-row .footer-link-section {
    padding-top: 20px;
}
.last-row {
    border-right: none;
}
.footer-link-section .fa {
    font-size: 52px;
    color: #4D4D4D;
}
.farotate {
    transform: rotate(90deg);
}
#footer-full {
    background: #1A1A1A;
    padding: 65px 0;
}
#footer-social ul li a {
    padding: 2px 0px;
    color: #4D4D4D !important;
    font-size: 38px !important;
    height: 60px;
    display: block;
    background: #1A1A1A !important;
}
#footer-bottom {
    background: #000;
    padding: 0;
}
#footer-bottom .copyright {
    padding: 15px 0;
    border-top: 1px solid #404040;
    text-align: left;
    font-size: 10px;
}
.footer-widgetwrapper{
    text-transform: uppercase;
}
#footer-center section.widget {
    float: left;
    margin: 0;
}
footer.site-footer {
    font-family: 'Open Sans', sans-serif;
}
#footer-center .widget-title {
    color: #404040;
}
.footer-widgetwrapper .widget p {
    text-transform: capitalize;
}
#footer-center {
    padding: 40px 0 0;
}
.upcoming-booking-links {
    float: right;
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    padding: 10px 0;
    text-decoration: none !important;
}
.upcoming-booking-links .fa {
    padding-left: 5px;
}

.product-tab .nav a[data-toggle="tab"] {
    font-weight: bold;
    font-size: 16px;
}

.voucher-price {
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    color: #FEE632;
    font-weight: 600;
}
.voucher-text {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FEE632;
    font-weight: 600;
}
.custom-title-border.color-white {
    width: auto;
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
#home-featured-four .signup-text {
    padding: 25px 40px 14px;
    color: #ccc;
    font-size: 17px;
    text-align: center;
}
#home-featured-four .wpcf7 {
    padding: 5px 40px 0px;
}
#home-featured-four .wpcf7 form p {
    margin-bottom: 10px;
}
.offer-bottom-text {
    text-align: center;
    color: #fff;
    margin-top: 33px;
}

/* ================================================================================================================================ 
                                                    Media Query
 ================================================================================================================================ */

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .content-body {
        width: 1080px;
        margin-right: auto;
        margin-left: auto;
    }
    .container.content-body {
        width: 1080px;
    }
}
@media (max-width: 1030px){
    #sidebar-upcoming_class .type-tribe_events:nth-child(2) {
        width: 67% !important;
    }
    #home-featured-four .wpcf7 + p{
        padding-bottom: 0px;
    }
    .offer-bottom-text{
        margin-top: 10px;
    }
    .home-social-images li{
        max-width: 24.5% !important;
    }
    .featured-products-main ul.product_list_widget li{
        max-width: 155px !important;
    }
}
@media (max-width: 990px){
    #home-featured-one img, .featured-section-middle img{
        height: auto;
        min-height: 191px;
    }
    #home-featured-four .signup-text, #home-featured-four .wpcf7{
        padding: 10px 25px 0px;
    }
    .voucher-price{
        font-size: 50px;
        line-height: 60px;
    }
    .voucher-text{
        font-size: 25px;
        line-height: 28px;
    }
    .custom-title-border.color-white{
        margin-bottom: 8px;
        margin-top: 8px;
    }
    #home-featured-four p{
        font-size: 11px;
    }
    #home-featured-four .wpcf7 form p {
        margin-bottom: 7px;
    }
    #home-featured-four .wpcf7 input[type="text"], #home-featured-four .wpcf7 input[type="email"]{
        height: 25px;
        padding: 7px;
        font-size: 11px;
    }
    #home-featured-four .wpcf7 input[type="submit"]{
        height: 25px;
        padding: 7px;
        font-size: 12px;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #home-slider .soliloquy-container .soliloquy-caption {
        bottom: 0px;
        left: 150px;
        background: transparent;
        width: auto;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #home-slider .soliloquy-container .soliloquy-caption {
        bottom: 0px;
        left: 150px;
        background: transparent;
        width: auto;
    }
}

@media (max-width: 640px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
@media (max-width: 320px) {
    
}



/* ============================================================== New Header ==================================================================== */
html body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

.page-title {
    padding: 60px 0px 0px 0px;
}

#header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
    background-color: rgba(34,35,38,1);
    z-index: 10;
    top:20px;
}

.header-wrapper {
    background-color: #000;

}

#header {
    background-color: transparent;
    color: #fff;
}

/*#header {
    padding-top: 40px;
    background-color: rgba(34,35,38,1);
    color: #fff;
}*/

.header-wrapper img.header-img {
    width: 100%;
    min-height: 450px;
max-height:450px;
}


.page-title h1{
    z-index: 5;
    white-space: nowrap;
    font-size: 42px;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    visibility: inherit;
    transition: none;
    text-align: inherit;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#top-logo-right #login-section-right, #top-logo-right .cart_links {
    display: inline-block;
    padding: 0 10px;
    float: left;
}

#top-logo-right span.woocommerce-Price-amount.amount {
    display: none;
}


.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    border: 2px solid #fff;
    border-radius: 0;
}

div#top-left {
    border: 2px solid #fff;
    height: 82px;
}

.search-social form.search-form {
    border-right: 2px solid #fff;
    margin-right: 15px;
}

.search-social label {
    margin-bottom: 0px;
}

#top-left li {
    float: left;
    font-size: 22px;
    margin-top: 23px;
    padding: 0 13px;
}

.search-social .search-field {
    background-color: transparent;
    background-image: url(../images/search-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    height: 73px;
    margin: 3px 10px;
    padding: 0 26px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0;
}

.search-social .search-field:focus {
    background-color: #F1ADD3;
    border: 2px solid #fff;
    cursor: text;
    outline: 0;
    width: 230px !important;
    background-position: right center;
    color: #000;
}

.search-social .search-form {
    width: 72px;
    float: left;
}

.custom-header-menu {
    margin-top: -10px;
}

body .dropdown-cart-button .dropdown-total {
    display: block;
    line-height: 25px;
    padding: 20px 18px;
    background: url(../images/cart-icon.png) no-repeat transparent;
    outline: 0;
    background-size: 25px;
    background-position: center center;
}

body .dropdown-cart-button {
    font-weight: normal;
    min-height: 35px;
    border: 0px solid #ccc;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10 !important;
    overflow: visible;
    background: url(../images/cart.png) no-repeat top left transparent;
    display: inline-block;
}

div#top-logo-right {
    float: right;
    height: 82px;
    border: 2px solid #fff;
}

#top-logo-right div#login-section-right {
    padding: 27px 0;
    width: 250px;
    text-align: center;
}

#top-logo-right .cart_links {
    padding: 16px 20px;
    border-left: 2px solid #fff;
}

.cart_links section#widget_shopping_mini_cart-3 {
    margin-bottom: 0;
}

#login-section-right .account-btn {
    padding: 0 15px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

body .navbar-inverse .navbar-nav>.active>a, 
body .navbar-inverse .navbar-nav>.active>a:focus, 
body .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

body .navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

body .navbar-nav>li>a {
    padding-top: 27px;
    padding-bottom: 27px;
}

body .navbar-nav>li {
    padding: 0 10px;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

#mega-menu-wrap-primary #mega-menu-primary {
    text-align: center;
    padding: 20px 0px;
}

#mega-menu-wrap-primary {
    background: transparent;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    padding: 0px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 103%;
    background: rgba(0,0,0,0.5);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    padding: 0 40px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, 
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover, 
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:focus {
    background: transparent;
    color: #fff;
    font-weight: 600;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    text-align: center;
    font-size: 12px;
    color: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, 
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus {
    color: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children > a.mega-menu-link:after, 
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children > a.mega-menu-link:after, 
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a.mega-menu-link:after {
    display: none;
}

/*#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:after,
div#mega-menu-wrap-primary:after {
    content: '';
    width: 95%;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}*/

#mega-menu-wrap-primary #mega-menu-primary:after {
    content: '';
    width: 90%;
    height: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}
#mega-menu-wrap-primary .remove_border:after{
    display: none !important;
}

.mega-toggle-on:focus #mega-menu-wrap-primary #mega-menu-primary:after,
.mega-toggle-on:active #mega-menu-wrap-primary #mega-menu-primary:after,
.mega-toggle-on:visited #mega-menu-wrap-primary #mega-menu-primary:after {
    display: none;
}

.tp-bullets.hermes.horizontal.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal {
    top: 75% !important;
}

/* =====================================================================================================================================
                                                    Home page
===================================================================================================================================== */
.home-content-body {
    margin-top: -220px;
    z-index: 0;
    position: relative;
}

.no-padding{
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}
.classes-section {
    background-color: rgba(140,116,130,0.6);
    padding: 30px 0 30px 30px;
}
.classes-section:hover {
    background-color: #F1ADD3;
}
.classes-section .feature_name h1:hover,
.classes-section .feature_title h5:hover,
.classes-section .feature_name h1,
.classes-section .feature_title h5 {
    color: #fff;
}

body #content .feature-section .classes-section .feature_name h1{
    font-family: 'Poppins', sans-serif;   
    color: #FFFFFF; 
    font-family: Poppins;   
    font-size: 30px;    
    font-weight: bold;  
    line-height: 49px;
}

body #content .feature-section .classes-section .feature_title h5 {
    font-family: 'Poppins', sans-serif;   
    font-size: 15px;    
    font-weight: bold;  
    letter-spacing: 5px;    
    line-height: 25px;
}

.classes-section img {
    text-align: right;
    float: right;
}

.feature_img_hover {
    display: none;
}

.classes-section:hover .feature_img_hover {
    display: block;
}

.classes-section:hover .feature_img {
    display: none;
}

/* ================================= newslatter section ============================================ */
.newsletter-wrapper {
    background-color: #FFF3FA;
    padding: 60px 40px 40px;
    margin: 20px 0;
}

body #content .newsletter-section .title {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 69px;
    text-align: center;
}

body #content .newsletter-section .newsletter-heading {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
}

.newsletter-subtext {
    color: #8C7482;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

body .gform_wrapper .gform_body {
    display: inline-block;
    width: 86%;
    float: left;
}
body #register-gform form .gform_body{
    width: 100%;
}
body .gform_wrapper .gform_footer {
    padding: 0px;
    margin: 24px 0 0;
    width: auto;
    display: inline-block;
}

.gform_wrapper form {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

#gform_wrapper_2 .home-newsletter-form .newsletter-field {
    padding-right: 5px;
}

#gform_wrapper_2 .home-newsletter-form .newsletter-field input{
    background-color: rgba(190,150,172,0.1);
    height: 62px;
    border: none;
    padding: 10px;
    border-radius: 0;
    outline: none;
}

body .gform_wrapper .gform_footer input#gform_submit_button_2 {
    background-color: #8C7482;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: #fff;
    height: 62px;
    text-shadow: none;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
}

#gform_wrapper_2 .home-newsletter-form .newsletter-field label {
    display: none;
}
/* ============================================================ Upcoming Classes ============================================================ */

.upcoming-hand-on-classes-section {
    padding: 40px 0;
}

.upcomming-img {
    width: 100%;
    max-height: 335px;
}

#sidebar-upcoming_class .section-title {
    text-transform: uppercase;
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
}

section#sidebar-upcoming_class .textwidget h1 {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.upcomming-inner {
    margin: 0 1px;
}

.upcomming-inner-text {
    position: absolute;
    bottom: 0px;
    margin: 0% 0% 0%;
    background: #fff;
    color: #000;
    width: 79%;
    padding: 5px 0;
    right: 1px;
    border: 1px solid rgba(169, 169, 169, 0.38);
}

.upcomming-inner-text .upcomming-meta-date,
.upcomming-inner-text .upcomming-meta-title {
    float: left;
    height: 70px;
    display: table;
}

.upcomming-meta-date {
    width: 30%;
    border-right: 1px solid #000;
}

.upcomming-meta-title {
    width: 70%;
}

.meta-day {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
.upcomming-inner{
        border: 1px solid rgba(169, 169, 169, 0.38);
}
.meta-month {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.upcomming-title {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.upcoming-all-calender-links:hover {
    text-decoration: none;
    color: #F1ADD3 !important;
    font-weight: bold;
}

a.upcoming-all-calender-links:active,
a.upcoming-all-calender-links:focus,
a.upcoming-all-calender-links {
    background-color: #251A21;
    padding: 20px 40px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.upcomming-wrapper {
    margin-right: 0;
    margin-left: 0; 
}

.all-calender-links {
    margin-top: 70px;
    text-align: center;
}


/* ================================================================ Home Product Section ================================================================== */
.home-product-section {
    padding: 40px 0 70px;
    background-color: #FFF3FA;
}

#sidebar-product_category .section-title {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
}

#sidebar-product_category .textwidget h1 {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.grid-inner {
    position: relative;
}

.hover-wrapper {
    background-color: rgba(37, 26, 33, 0.86);
    height: 100%;
    left: 0;   
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}

.hover-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}

.hover-link a:active,
.hover-link a {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    padding: 10px 15px;
    background-color: #fff;
    text-transform: uppercase;
}

.hover-link a:hover {
    text-decoration: none;
    color: #251A21 !important;
    font-weight: bold;
}

.hover-link {
    text-align: center;
    margin-top: 10%;
}

.product-price {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
}

.grid-inner:hover .hover-wrapper {
    display: block;
}

/* ========================================================================= Home Latest Online ================================================================= */

.home-online-class-section {
    padding: 40px 0 80px;
}

#sidebar-online_class .section-title {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
}

#sidebar-online_class .textwidget h1 {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}

#sidebar-online_class .textwidget p {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

body .online-classes-title {
    color: #9B9B9B;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
}

body .online-classes-desc h2 {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 40px !important;
    margin: 0 !important;
    text-transform: capitalize;
}

.online-class-icon {
    margin: 8px 0;
}

.online-class-icon img {
    margin: 0 auto;
}

.online-class-meta > div {
    margin-bottom: 19px;
}

.total-video-section {
    background-color: #F1ADD3;
    padding: 25px 30px;
}

.online-post-count {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 100px;
    text-align: left;
    display: inline;
    float: left;
    margin-right: 15px;
}
.total-video-section .online-post-count + div{
        float: left;
    display: inline;
    max-width: 200px;
}
.total-video-section h5 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
    float: left;
    display: inline;
    margin: 0;
}

.total-video-section p {
    color: #8C7482;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: inline;
    float: left;
    margin: 2px 0 0 10px;
}

.custom-black-btn:active,
.custom-black-btn:visited {
    color: #FFFFFF;
}

.custom-black-btn {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    background-color: #251A21;
    padding: 15px 15px;
    display: block;
    margin-top: 8px;
}

body .total-video-section a.custom-black-btn:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.online-class-meta {
    margin-bottom: 21px;
}

#online-class-title-wrapper {
    margin-bottom: 50px;
}

.online-class-img {
    width: 100%;
    max-height: 526px;
    margin-bottom: 0;
}

/* ========================================================================= Classes ================================================================= */

.upcomming-class-wrapper {
    padding-top: 15px;
}
#ee-spco-payment_options-reg-step-form-payment-options-before-payment-options{
    max-width: 265px;
}
#ee-spco-payment_options-reg-step-form input#ee-promotion-code-submit{
    padding: 12px 40px !important;
}
.classes-sort-by-dropdown .sort-by,
.upcomming-class-wrapper .difficulty-values,
body .category-filter-wrapper button {
    border: 1px solid rgba(102,119,110,0.15);
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-transform: uppercase;
    width: 100%;
    height: 63px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 0;
    outline: none;
}

body .category-filter-wrapper .btn-default:visited, 
body .category-filter-wrapper .btn-default:active, 
body .category-filter-wrapper .btn-default.focus, 
body .category-filter-wrapper .btn-default:focus {
    color: #595959;
    background-color: #fff;
    border-color: #8c8c8c;
    outline: none;
}

.classes-sort-by-dropdown .sort-by,
.upcomming-class-wrapper .difficulty-values {
    padding: 10px;
}
#custom-loader {
    background-color: rgba(0, 0, 0, 0.30);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
}


#custom-loader {
    display : none;
}

#custom-loader.show {
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url(../images/loader-gif.gif);
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
    background-size: 100px;
}

#loadinggif.show {
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}
div#more_classes {
    display: inline-block;
    padding: 10px 45px;
    background: #fff;
    color: #595959;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(102,119,110,0.15);
    cursor: pointer;
}

.custom-details-wrapper {
    padding-bottom: 40px;
}
div#loadmore_classes,
div#more_classes {
    display: inline-block;
    padding: 15px 38px;
    background: #fff;
    color: #595959;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(102,119,110,0.15);
    cursor: pointer;
}

div#loadmore_classes:hover,
div#more_classes:hover {
    background: #595959;
    color: #fff;
}

.custom-details-wrapper {
    padding-bottom: 40px;
}
.category-filter-wrapper .multiselect-container {
   z-index: 10;
}

/* ======================================== Shop Page ======================================== */
.woocommerce-shop-wapper {
    padding: 20px 0;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    background-color: transparent;
    border: 1px solid #000;
    color: #595959;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding: .718em 1.3em;
    text-transform: uppercase;
}

.woocommerce .widget_price_filter .price_slider_amount {
    text-align: left;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: .3em;
    margin-bottom: 1.2em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #BD96AB;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    top: -.4em;
}

.price_label {
    font-weight: 600;
    text-transform: uppercase;
    color: #595959;
    font-family: 'Poppins', sans-serif;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #DED5D6;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 30.8%;
    padding: 20px 30px;
    border: 1px solid rgba(102,119,110,0.15);
    position: relative;
    margin-bottom: 30px;
}

#woocommerce-sidebar {
    margin-top: 30px;
}

#woocommerce-sidebar .widget-title {
    text-transform: capitalize;
        margin-top: 0px;
}

#woocommerce-sidebar .product-categories {
    list-style-type: none;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

#woocommerce-sidebar .product-categories a {
    color: #595959;
    text-transform: capitalize;
    font-weight: 400;
}

.product-categories li {
    padding: 5px 0;
    list-style:none;
}
.product-categories ul.children{
    margin: 10px 20px;
}
.woocommerce-shop-wapper .woocommerce-result-count {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    width: 336px;
    margin: 22px 0px;
}
.woocommerce-shop-wapper .orderby {
    font-family: 'Poppins', sans-serif;
    padding: 19px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(102,119,110,0.15);
}

.gridlist-toggle {
    display: inline-block;
 }

body .custom-product-layout .woocommerce-loop-product__title {
    font-size: 16px !important;
    color: #333;
    min-height: 100px;
    font-weight: normal !important;
}

.woocommerce ul.products li.product a .custom-product-img {
    min-height: 130px;
}

.woocommerce ul.products li.product .show-hover {
    background-color: rgba(228, 228, 228, 0.86);
    height: 100%;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    display: none; 
}

.woocommerce ul.products li.product .show-hover a {
    background-color: #8c7482;
    color: #FFF;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 20px 40px;
    text-align: center;
    text-transform: uppercase;
}

.woocommerce ul.products li.product .show-hover a:hover {
    background-color: #fff;
    color: #8c7482;
}

.woocommerce ul.products li.product a:hover .show-hover {
    display: block;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product:hover .show-hover {
    display: block;
}

.show-details-btn {
    margin-top: 60%;
}

.woocommerce ul.products li.product .price {
    color: #8c7482;
    display: block;
    font-weight: normal;
    margin-bottom: .5em;
    font-size: 16px;
}

body.woocommerce ul.products {
    height: auto !important;
    margin-top: 20px;
}

.woocommerce-pagination ul.page-numbers li:last-child a.next,
.woocommerce-pagination ul.page-numbers li:first-child a.prev {
    background-color: #fff;
    color: rgb(140, 116, 130);
    padding: 15px 25px;
    border: 1px solid rgba(102,119,110,0.15);
    text-decoration: none;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce .woocommerce-shop-wapper nav.woocommerce-pagination ul li a:focus, 
.woocommerce .woocommerce-shop-wapper nav.woocommerce-pagination ul li a:hover, 
.woocommerce .woocommerce-shop-wapper nav.woocommerce-pagination ul li span.current{
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
}

.woocommerce .woocommerce-shop-wapper nav.woocommerce-pagination ul li a, 
.woocommerce .woocommerce-shop-wapper nav.woocommerce-pagination ul li span {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    padding: 15px 20px;
    min-width: auto;
    color: #BE96AC;
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
}

.woocommerce .woocommerce-shop-wapper nav.woocommerce-pagination ul li{
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: transparent;
}

/* ================================ Grid view ================================ */
.products.list .custom-product-img {
    float: left;
}

.products.list .custom-product-img {
    float: left;
    width: 220px;
}

body #content .woocommerce-shop-wapper .products.list .custom-product-layout .woocommerce-loop-product__title {
    float: right;
    min-height: initial;
    width: 70%;
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 21px !important;
    font-weight: bold;
    line-height: 24px;
}

.woocommerce ul.products.list li.product a .custom-product-img {
    min-height: auto;
}

.woocommerce ul.products.list li.product img {
    width: auto !important;
    float: left;
    margin-bottom: 0;
    -webkit-transition: none !important;
    margin-right: 3.8% !important;
}

.woocommerce-page ul.products.list li.product {
    min-height: auto;
    padding: 30px;
}

.products.list .show-details-btn {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 40%;
    bottom: 0;
}

body .woocommerce-shop-wapper ul.products.list li.product .price {
    width: 70%;
    margin: 40px 0;
    color: #BE96AC;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
}

body .woocommerce-shop-wapper .gridlist-toggle {
    display: inline-block;
    clear: both;
    margin: 0px !important;
    padding: 0 0px !important;
    line-height: 0 !important;
}
.ee-icon, 
.dashicons {
    margin: 0;
}

.woocommerce-shop-wapper .gridlist-toggle .dashicons:before, 
.woocommerce-shop-wapper .gridlist-toggle .dashicons {
    font-size: 1em;
    line-height: 1;
    height: 30px;
    width: 30px;
}

.gridlist-toggle .dashicons-excerpt-view:before, 
.gridlist-toggle .dashicons-exerpt-view:before {
    content: '';
    background-image: url(../images/list-pink.png);
    width: 50px;
    height: 50px;
    display: block;
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
}

.woocommerce-shop-wapper .gridlist-toggle .dashicons-grid-view:before {
    background-image: url(../images/grid-pink.png);
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    background-position: center center;
    background-size: 35px;
    background-repeat: no-repeat;
}

.woocommerce-shop-wapper .gridlist-toggle a {
    background-color: #fff;
    border: 1px solid rgba(102,119,110,0.15);
    margin: 0 10px;
    padding: 17px 20px 16px;
}

.woocommerce-shop-wapper .gridlist-toggle a.active {
    background-color: #8c7482;
}

.woocommerce-shop-wapper .gridlist-toggle a.active .dashicons-grid-view:before {
    background-image: url(../images/grid-white.png);
}

.woocommerce-shop-wapper .gridlist-toggle a.active .dashicons-excerpt-view:before, 
.woocommerce-shop-wapper .gridlist-toggle a.active .dashicons-exerpt-view:before {
    background-image: url(../images/list-white.png);
}

.woocommerce-shop-wapper .gridlist-toggle a:hover .dashicons-excerpt-view:before, 
.woocommerce-shop-wapper .gridlist-toggle a:hover .dashicons-exerpt-view:before {
    background-image: url(../images/list-white.png);
}

.woocommerce-shop-wapper .gridlist-toggle a:hover .dashicons-grid-view:before {
    background-image: url(../images/grid-white.png);
}
.woocommerce-shop-wapper .gridlist-toggle a:hover {
    background-color: #8c7482;
}

/* ================================= Single product page ================================= */

.custom-single-product {
    padding: 100px 0;
}

body.woocommerce div.product .title_wrapper .product_title.entry-title {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 28px !important;
    margin-bottom: 40px;
    text-transform: capitalize;
    font-weight: bold !important;
    display: inline-block;
}
.logged-in .price_add_to_cart_wrapper {
    padding: 60px 40px 35px;
}
.price_add_to_cart_wrapper {
    padding: 60px 40px 90px;
    background-color: #fef3f9;
    position: relative;
    margin-top: 15px;
}

.woocommerce div.product .price_add_to_cart_wrapper p.price, 
.woocommerce div.product .price_add_to_cart_wrapper span.price {
    color: #8c7482;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    float: left;
    min-width: 49%;
    font-family: 'Poppins', sans-serif;
}

.price_add_to_cart_wrapper p.stock.in-stock {
    display: none;
}
.logged-in.woocommerce div.product.outofstock .price_add_to_cart_wrapper form.cart .quantity {
    margin-bottom: 0px;
}
.woocommerce div.product .price_add_to_cart_wrapper form.cart .quantity {
    float: none;
    margin-bottom: 75px;
}
.woocommerce div.product .price_add_to_cart_wrapper form.cart .quantity input {
    width: 50%;
    text-align: left;
    padding: 20px;
    border-radius: 0;

}

.woocommerce div.product .price_add_to_cart_wrapper .single_add_to_cart_button {
    display: inline-block;
    width: 35%;
    float: left;
    position: absolute;
    left: 8%;
    bottom: 32px;
}
#content .my-account h2{
    min-height: 50px;
}
.woocommerce div.product .price_add_to_cart_wrapper #wl-wrapper.wl-button-wrap {
    position: absolute;
    clear: both;
    width: 50%;
    padding: 0;
    right: 5px;
    bottom: 32px;
}

#wl-wrapper .wl-add-but {
    background-color: #595959;
    border-radius: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 85%;
}
p.stock.out-of-stock + .wcwl_control{
    float: left;
}

.woocommerce div.product .price_add_to_cart_wrapper .single_add_to_cart_button{
    background-color: #a46497;
    border-radius: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.woocommerce div.product span.onsale {
    top: 6.5em;
    left: 0.5em;
 }

.product_gallery .a3-dgallery .a3dg-nav {
    position: relative;
    width: 65%;
    margin-bottom: 20px;
    visibility: hidden;
    margin: 0 auto;
}

.product_gallery .a3dg-navbar-control {
    display: none;
}

.product_gallery .a3-dgallery .fa-angle-right:before{
    content: url(../images/next_arrow.png);
}

.product_gallery .a3-dgallery .fa-angle-left:before{
    content: url(../images/back_arrow.png);
}

.product_gallery .a3-dgallery .a3dg-forward {
    right: -20px;
}

.product_gallery .a3-dgallery .a3dg-forward, 
.product_gallery .a3-dgallery .a3dg-back {
    border: none !important;
}

.product_gallery .a3-dgallery .a3dg-back {
    left: -20px;
}

.product_gallery .a3-dgallery .a3dg-image-wrapper {
    border-color: #f2ecef !important;
    padding: 20px !important;
}

.product_gallery .a3-dgallery .lazy-load {
    display: none;
}

.price_add_to_cart_wrapper #wl-wrapper .wl-already-in ul {
    margin: 10px 0 10px 0px;
}

.custom-description {
    margin-top: 30px;
    display: block;
}

#content .custom-review-tab,
#content .custom-description{
    margin-bottom: 30px;
}

#content .custom-review-tab{
    margin-bottom: 50px;
}

#content .custom-single-product section.related.products h2,
#content .custom-review-tab .woocommerce-Reviews-title,
#content .custom-description h2 {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 24px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(102,119,110,0.15);
    text-transform: uppercase;
}

.custom-review-tab,
.custom-description p {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.related.products.custom-layout li {
    width: 48%;
}

section.related.products.custom-layout li.custom-related-layout {
    width: 48.1%;
}

section.related.products.custom-layout li.custom-related-layout .content-wrapper {
    display: inline-block;
    float: left;
    width: 40%;
}

.related.products.custom-layout li.custom-related-layout .custom-product-img {
    min-height: auto;
    padding: 15px;
}

.woocommerce-page ul.products li.product.custom-related-layout {
    min-height: auto;
}

section.related.products.custom-layout li.custom-related-layout .content-wrapper.related-contetn-wrapper {
    width: 60%;
    text-align: left;
    padding: 15px 30px;
}

section.related.products.custom-layout li.custom-related-layout .show-details-btn {
    margin: 15% 0;
}

#content .custom-single-product section.related.products.custom-layout li.custom-related-layout .content-wrapper.related-contetn-wrapper h2.woocommerce-loop-product__title {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    border-bottom: none;
}

.woocommerce section.related.products.custom-layout ul.products li.product .price {
    color: #BE96AC;
    display: block;
    font-weight: bold;
    margin-bottom: .5em;
    font-size: 20px;
}

.a3-dgallery .a3dg-image-wrapper:hover .a3dg-next, 
.a3-dgallery .a3dg-image-wrapper:hover .a3dg-prev {
    display: none;
}

.woocommerce #content div.product div.images, 
.woocommerce div.product div.images, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page div.product div.images {
    float: left;
    width: 35%;
}

.woocommerce #content div.product div.summary, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.summary {
    float: right;
    width: 52%;
}

#content .custom-review-tab input#submit {
    background-color: #8c7482;
    color: #FFF; 
    padding: 20px 40px;
    border: 1px solid #8c7482; 
}

#content .custom-review-tab input#submit:hover {
    background-color: #FFF;
    color: #8c7482; 
    border: 1px solid #8c7482; 
}

.woocommerce .star-rating span {
    color: #BE96AC;
}

.woocommerce .star-rating::before {
    color: rgba(102,119,110,0.15);
}

.a3dg-thumbs .a3dg-thumb-list li {
    border: 1px solid #f2ecef;
}

body .a3-dgallery .a3dg-image-wrapper .a3dg-image {
    margin-top: 20px !important;
}

body .a3-dgallery .a3dg-thumbs li a.a3dg-active {
    border: 1px solid #8c7482 !important;
}

.back-button-wrapper {
    display: inline-block;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 35px;
}

body.woocommerce .woocommerce-product-rating {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0 !important;
}

.woocommerce .custom-review-tab #reviews #comments ol.commentlist {
    padding: 0;
}

.woocommerce .custom-review-tab #reviews #comments ol.commentlist li img.avatar {
    width: 40px;
    border-radius: 50%;
}

.woocommerce .custom-review-tab #reviews #comments ol.commentlist li .comment-text p {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.custom-review-tab  b, .custom-review-tab strong {
    font-weight: 700;
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.woocommerce .custom-review-tab #reviews #comments ol.commentlist li .comment-text {
    border: 0px solid #e4e1e3;
}


/* ================================================== Blog Page ====================================================== */
#blog-content {
    padding: 100px 0;
}

.blog-images .post-image {
    position: relative;
}

.blog-images .post-image .post-date {
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 20px 35px;
    background-color: #fff;
    z-index: 10;
}
.blog-images .post-image img{
    width: 100%;
}
.blog-images .post-title {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #535353 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.post-title h2.entry-title {
    position: absolute;
    bottom: 1%;
    left: 5%;
}

.blog-images .entry-title a {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 49px;
    text-transform: capitalize;
    text-decoration: none;
}

.custom-post-title a {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 49px;
    text-transform: capitalize;
    text-decoration: none;
}

.blog-images .post-date .month {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.blog-images .post-date .date {
    color: #251A21;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 59px;
    text-align: center;
}

.custom-blog .entry-content p {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.read-morelink .blog-readmore-link {
    background-color: #251A21;
    display: inline-block;
    padding: 20px 70px;
}

.read-morelink a.blog-readmore-link {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.custom-blog .entry-content {
    margin: 0;
    padding: 40px;
}

.custom-blog .entry-content .read-morelink {
    margin-top: 40px;
}

aside#secondary .widget-title {
    color: #BE96AC;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
}

#blog-content aside#secondary ul li a {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
}

#blog-content aside#secondary ul li a:hover {
    color: #BE96AC;
}

#blog-content aside#secondary ul {
    list-style-type: none;
    padding: 0;
}

#blog-content article.custom-blog {
    margin-bottom: 70px;
    border: 1px solid rgba(102,119,110,0.15);
}

/* ==================================================== Single post template ================================================ */

body.single.single-post div#content {
    padding: 50px 0 100px 0;
}

body.single.single-post .entry-content {
    margin: 0;
}

body.single.single-post article p {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
}

body.single.single-post article p strong {
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
}

body.single.single-post .back-button, body.single.single-career .back-button {
    background: url(../images/back_arrow.png) no-repeat !important;
    width: 62px;
    height: 62px;
    background-position: center center !important;
    color: transparent;
    border-radius: 0;
    border: 1px solid rgba(102,119,110,0.15);
}

body.single.single-post #main #comments{
    display: block;
}

/* ******************* Media Query ******************* */
    /* Large desktops and laptops */
    @media (min-width: 1200px) {
	
    }

    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {

    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
	.custom-header-menu .ubermenu-skin-minimal.ubermenu-responsive-toggle {
        background: rgba(255, 255, 255, 0.77);
        padding: 10px 20px;
        margin-top: 10px;
    }
    
    .custom-header-menu .ubermenu-skin-minimal.ubermenu-responsive-toggle:hover {
	    background: rgba(255, 255, 255, 0.77);
	    padding: 10px 20px;
	}

	.custom-header-menu .ubermenu-responsive-default.ubermenu-responsive.ubermenu {
	    background-color: #000;
	}
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
    	.custom-header-menu .ubermenu-responsive-default.ubermenu-responsive.ubermenu {
    	    background-color: #000;
    	}
    	.custom-header-menu .ubermenu-skin-minimal.ubermenu-responsive-toggle {
    	    background: #fff;
            display: inline-block;
    	}
        body .ubermenu-skin-minimal.ubermenu-responsive-toggle:hover {
            background: #fff;
            color: #111111;
        }
        
        body .custom-header-menu {
            right: 0px;
            top: -65px;
        }

        body div#top-logo-right {
            z-index: 999;
            top: -65px !important;
            height: 48px !important;
        }
        body .custom-header-menu nav.navbar .menu-primary {
            text-align: right;
            border: none;
            box-shadow: none;
        }
        body #top-logo-right div#login-section-right {
            padding: 11px 0;
            width: 160px;
        }
        body #top-logo-right .cart_links {
            padding: 0px 5px;
        }
    }

    @media (max-width: 640px) {
        body #top-logo-right div#login-section-right {
            padding: 12px 0;
            width: 110px;
        }
        body #top-logo-right .cart_links {
            padding: 0px 5px;
        }
        .custom-header-menu .ubermenu-skin-minimal.ubermenu-responsive-toggle {
            background: #fff;
            display: inline-block;
        }
        body .custom-header-menu .ubermenu-skin-minimal.ubermenu-responsive-toggle:hover {
            background: #fff;
            color: #111111;
        }
    }

    /* Landscape phones and smaller */
    @media (max-width: 480px) {
        body div#top-logo-right {
            z-index: 999;
            top: 1px !important;
            height: 45px !important;
            z-index: 99999;
            width: 78.5%;
        }
        body #top-logo-right div#login-section-right {
            padding: 12px 0;
            width: 160px;
        }
        body .custom-header-menu {
            right: 0px;
            top: -37px;
        }
        body #top-logo-right .cart_links {
            padding: 0px 5px;
        }
        body .header-wrapper #header {
            position: absolute;
        }
        body.home .header-wrapper #header {
            position: relative;
        }
    }
    @media (max-width: 320px) {
        body div#top-logo-right {
            z-index: 999;
            top: -1px !important;
            height: 45px !important;
            z-index: 99999;
            width: 67%;
        }

        body #top-logo-right div#login-section-right {
            padding: 12px 0;
            width: 140px;
        }

        body #top-logo-right .cart_links {
            padding: 0px 5px;
        }

        .dropdown-cart-button .dropdown.dropdown-right {
            right: 0px;
            left: -150px;
        }
    }