/*!
 * custom Style.less
 */

/* ==========================================================================
   Base
   ========================================================================== */
/* Newlayout-Style */
#header {
    padding-top: 0px;
    position: relative;
    width: 100%;
    background-color: #000;
    z-index: 10;
    top: 0px;
}

.search-social form.search-form {
    border-right: none;
    margin-right: 0px;
}

div#top-left {
    border: none;
    height: auto;
}

div#top-logo-right {
    float: right;
    height: auto;
    border: none;
}

#top-logo-right .cart_links {
    padding: 16px 20px;
    border-left: none;
}

.navbar-inverse {
    border: 0px solid @white;
    margin-bottom: 0px;
}

.home-content-body {
    margin-top: 30px;
    z-index: 0;
    position: relative;
}
  /* ==============================================================================
    Variable 
  ============================================================================== */

  @font-face {
    font-family: 'BritannicComD-Med';
    src: url('../../fonts/BritannicComD-Med/BritannicComD-Med.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/BritannicComD-Med/BritannicComD-Med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../../fonts/BritannicComD-Med/BritannicComD-Med.woff') format('woff'),
      url('../../fonts/BritannicComD-Med/BritannicComD-Med.woff2') format('woff2'), /* Pretty Modern Browsers */
      url('../../fonts/BritannicComD-Med/BritannicComD-Med.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../../fonts/BritannicComD-Med/BritannicComD-Med.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
  }


/* ==============================================================================
    Variable 
  ============================================================================== */

  /* =============== Background / Colors =============== */
  @white: #FFFFFF;
  
  @bg-pink: #FFF3FA;
  @bg-chocolatey: #372E29;

  /* =============== fonts =============== */
  .BritannicComD-Med {
    font-family: 'BritannicComD-Med';
  }


/* =======================================
   Home Page 
   ======================================= */
   .home-content-body {
      margin-top: 0px;

     .home-tab-section {
        padding-bottom: 30px;
        padding-top: 20px;
        background-color: @bg-pink;

        ul.nav.nav-pills {
           margin: 0;
           li {
              a {
                 background-color: @bg-chocolatey;
                 border: none;
                 color: @white;
                 text-transform: uppercase;

                 :focus {
                    color: @white;
                    background-color: @bg-chocolatey;
                 }
                 :hover {
                    color: @white;
                    background-color: @bg-chocolatey;
                 }
              }
           }
           .active a {
              color: @white;
              background-color: #4C4542;
              text-transform: uppercase;
           }
        }
        div {
           .tab-content {
              margin-top: 5px;
              .tab-pane {
                background-repeat: no-repeat;
                background-position: center center;
                padding: 30px 50px;
                color: @white;
                min-height: 500px;
                p {
                  width: 70%;
                }
                  a {
                    &.home-tab-pills {
                        position: absolute;
                        bottom: 50px;
                        color: @white !important;
                    }
                  }
              }
           }
        }
     }

    #email_signup{
      &.newsletter-section {
        background-image: url('../../images/new-img/newsletter.jpg');
        .newsletter-wrapper {
          background-color: transparent;
            .title {
              color: @white;
              .BritannicComD-Med;
            }

            p {
              color: @white;
            }

            .home-newsletter-form_wrapper {
              .home-newsletter-form{
                
                .gform_body {
                  width: 66%;
                }

                .gform_footer {
                  width: 33%;
                    
                    input#gform_submit_button_2 {
                      background-color: #c9ab62;
                    }
                }

                .newsletter-field {
                  div.ginput_container {
                    margin-right: 10px;
                    
                      input{
                        background-color: @bg-pink;

                      }
                  }


                }
              }
            }
        }
      }    
    }

    .home-product-section {

      .title{
        text-align: center;
      }

      .swiper-container {
        width: 100%;
        height: 100%;
          
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
      }

    }





  }