<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing images meta data (titles)...</div>
<div class="progress-msg">Composing images meta data (description)...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Chocolate to Savour - Kirsten Tibballs`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Chocolate to Savour - Kirsten Tibballs`...</div>
<div class="progress-msg">Duplicate post was found for post Chocolate to Savour - Kirsten Tibballs with unique key `Chocolate to Savour - Kirsten Tibballs - 9781908202130`...</div>
<div class="progress-msg">Deleting attachments for `Chocolate to Savour - Kirsten Tibballs`</div>
<div class="progress-msg">Deleting images for `Chocolate to Savour - Kirsten Tibballs`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Chocolate to Savour - Kirsten Tibballs`</div>
<div class="progress-msg"><b>UPDATING</b> `Chocolate to Savour - Kirsten Tibballs` `Product`</div>
<div class="progress-msg">Associate post `Chocolate to Savour - Kirsten Tibballs` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/89201305245635142631657450000.jpg` for `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- Using existing image `89201305245635142631657450000.jpg` for post `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/89201305245635142631657450000.jpg`</div>
<div class="progress-msg">- Importing image ` http://www.savourschool.com.au/source/Product/269201301955635158235955944067.jpg` for `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- Using existing image `269201301955635158235955944067.jpg` for post `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/269201301955635158235955944067.jpg`</div>
<div class="progress-msg">- Importing image ` http://www.savourschool.com.au/source/Product/269201302949635158241894614067.jpg` for `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- Using existing image `269201302949635158241894614067.jpg` for post `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/269201302949635158241894614067.jpg`</div>
<div class="progress-msg">- Importing image ` http://www.savourschool.com.au/source/Product/269201303013635158242131084067.jpg` for `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- Using existing image `269201303013635158242131084067.jpg` for post `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/269201303013635158242131084067.jpg`</div>
<div class="progress-msg">- Importing image ` http://www.savourschool.com.au/source/Product/269201303256635158243769284067.jpg` for `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- Using existing image `269201303256635158243769284067.jpg` for post `Chocolate to Savour - Kirsten Tibballs` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/269201303256635158243769284067.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Books`, duplicate detected. Importing Product to existing `Books` product_cat, ID 151, slug `books` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` SALE`, duplicate detected. Importing Product to existing `Sale` product_cat, ID 142, slug `sale` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Gift Guide `, duplicate detected. Importing Product to existing `Gift Guide` product_cat, ID 155, slug `gift-guide` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Under $100`, duplicate detected. Importing Product to existing `Under $100` product_cat, ID 180, slug `under-100` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Discontinued Limited Stock`, duplicate detected. Importing Product to existing `Discontinued Limited Stock` product_cat, ID 144, slug `discontinued-limited-stock` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Chocolate to Savour - Kirsten Tibballs` `Product` (ID: 2253)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut Cocoa Powder 100% 1kg`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut Cocoa Powder 100% 1kg`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut Cocoa Powder 100% 1kg with unique key `Callebaut Cocoa Powder 100% 1kg - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut Cocoa Powder 100% 1kg`</div>
<div class="progress-msg">Deleting images for `Callebaut Cocoa Powder 100% 1kg`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut Cocoa Powder 100% 1kg`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut Cocoa Powder 100% 1kg` `Product`</div>
<div class="progress-msg">Associate post `Callebaut Cocoa Powder 100% 1kg` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/16920130503635149506032354562.jpg` for `Callebaut Cocoa Powder 100% 1kg` ...</div>
<div class="progress-msg">- Using existing image `16920130503635149506032354562.jpg` for post `Callebaut Cocoa Powder 100% 1kg` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/16920130503635149506032354562.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Cocoa Products`, duplicate detected. Importing Product to existing `Cocoa Products` product_cat, ID 173, slug `cocoa-products` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut Cocoa Powder 100% 1kg` `Product` (ID: 2259)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut Gianduja 1kg`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut Gianduja 1kg`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut Gianduja 1kg with unique key `Callebaut Gianduja 1kg - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut Gianduja 1kg`</div>
<div class="progress-msg">Deleting images for `Callebaut Gianduja 1kg`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut Gianduja 1kg`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut Gianduja 1kg` `Product`</div>
<div class="progress-msg">Associate post `Callebaut Gianduja 1kg` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201305511635149509117744562.jpg` for `Callebaut Gianduja 1kg` ...</div>
<div class="progress-msg">- Using existing image `169201305511635149509117744562.jpg` for post `Callebaut Gianduja 1kg` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201305511635149509117744562.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Nut Pastes & Pralines`, duplicate detected. Importing Product to existing `Nut Pastes &amp; Pralines` product_cat, ID 174, slug `nut-pastes-pralines` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Cocoa Products`, duplicate detected. Importing Product to existing `Cocoa Products` product_cat, ID 173, slug `cocoa-products` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Milk Chocolate`, duplicate detected. Importing Product to existing `Callebaut Milk Chocolate` product_cat, ID 168, slug `callebaut-milk-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut Gianduja 1kg` `Product` (ID: 2261)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut Cocoa Mass 100% 500g Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut Cocoa Mass 100% 500g Callets`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut Cocoa Mass 100% 500g Callets with unique key `Callebaut Cocoa Mass 100% 500g Callets - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut Cocoa Mass 100% 500g Callets`</div>
<div class="progress-msg">Deleting images for `Callebaut Cocoa Mass 100% 500g Callets`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut Cocoa Mass 100% 500g Callets`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut Cocoa Mass 100% 500g Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut Cocoa Mass 100% 500g Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/239201402855635470685357653750.jpg` for `Callebaut Cocoa Mass 100% 500g Callets` ...</div>
<div class="progress-msg">- Using existing image `239201402855635470685357653750.jpg` for post `Callebaut Cocoa Mass 100% 500g Callets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/239201402855635470685357653750.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Cocoa Products`, duplicate detected. Importing Product to existing `Cocoa Products` product_cat, ID 173, slug `cocoa-products` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut Cocoa Mass 100% 500g Callets` `Product` (ID: 2263)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut Cocoa Nibs 100% 800g`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut Cocoa Nibs 100% 800g`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut Cocoa Nibs 100% 800g with unique key `Callebaut Cocoa Nibs 100% 800g - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut Cocoa Nibs 100% 800g`</div>
<div class="progress-msg">Deleting images for `Callebaut Cocoa Nibs 100% 800g`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut Cocoa Nibs 100% 800g`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut Cocoa Nibs 100% 800g` `Product`</div>
<div class="progress-msg">Associate post `Callebaut Cocoa Nibs 100% 800g` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/16920130128635149519286784562.jpg` for `Callebaut Cocoa Nibs 100% 800g` ...</div>
<div class="progress-msg">- Using existing image `16920130128635149519286784562.jpg` for post `Callebaut Cocoa Nibs 100% 800g` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/16920130128635149519286784562.jpg`</div>
<div class="progress-msg">- Importing image ` http://www.savourschool.com.au/source/Product/1820140179635424922295549871.jpg` for `Callebaut Cocoa Nibs 100% 800g` ...</div>
<div class="progress-msg">- Using existing image `1820140179635424922295549871.jpg` for post `Callebaut Cocoa Nibs 100% 800g` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/1820140179635424922295549871.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` General`, duplicate detected. Importing Product to existing `General` product_cat, ID 176, slug `general` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Cocoa Products`, duplicate detected. Importing Product to existing `Cocoa Products` product_cat, ID 173, slug `cocoa-products` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Decorating and Garnishing `, duplicate detected. Importing Product to existing `Decorating and Garnishing` product_cat, ID 181, slug `decorating-and-garnishing` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Garnishes`, duplicate detected. Importing Product to existing `Garnishes` product_cat, ID 182, slug `garnishes` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cake Decorating `, duplicate detected. Importing Product to existing `Cake Decorating` product_cat, ID 149, slug `cake-decorating` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Colours & Garnishes`, duplicate detected. Importing Product to existing `Colours &amp; Garnishes` product_cat, ID 183, slug `colours-garnishes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut Cocoa Nibs 100% 800g` `Product` (ID: 2265)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut Dark Crispearls 800g`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut Dark Crispearls 800g`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut Dark Crispearls 800g with unique key `Callebaut Dark Crispearls 800g - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut Dark Crispearls 800g`</div>
<div class="progress-msg">Deleting images for `Callebaut Dark Crispearls 800g`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut Dark Crispearls 800g`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut Dark Crispearls 800g` `Product`</div>
<div class="progress-msg">Associate post `Callebaut Dark Crispearls 800g` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/144201504738635646052586856338.jpg` for `Callebaut Dark Crispearls 800g` ...</div>
<div class="progress-msg">- Using existing image `144201504738635646052586856338.jpg` for post `Callebaut Dark Crispearls 800g` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/144201504738635646052586856338.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Cocoa Products`, duplicate detected. Importing Product to existing `Cocoa Products` product_cat, ID 173, slug `cocoa-products` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Decorating and Garnishing `, duplicate detected. Importing Product to existing `Decorating and Garnishing` product_cat, ID 181, slug `decorating-and-garnishing` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Garnishes`, duplicate detected. Importing Product to existing `Garnishes` product_cat, ID 182, slug `garnishes` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Dark Chocolate`, duplicate detected. Importing Product to existing `Callebaut Dark Chocolate` product_cat, ID 167, slug `callebaut-dark-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut Dark Crispearls 800g` `Product` (ID: 2268)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut White Crispearls 800g`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut White Crispearls 800g`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut White Crispearls 800g with unique key `Callebaut White Crispearls 800g - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut White Crispearls 800g`</div>
<div class="progress-msg">Deleting images for `Callebaut White Crispearls 800g`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut White Crispearls 800g`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut White Crispearls 800g` `Product`</div>
<div class="progress-msg">Associate post `Callebaut White Crispearls 800g` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/144201504651635646052117168838.jpg` for `Callebaut White Crispearls 800g` ...</div>
<div class="progress-msg">- Using existing image `144201504651635646052117168838.jpg` for post `Callebaut White Crispearls 800g` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/144201504651635646052117168838.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Cocoa Products`, duplicate detected. Importing Product to existing `Cocoa Products` product_cat, ID 173, slug `cocoa-products` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Decorating and Garnishing `, duplicate detected. Importing Product to existing `Decorating and Garnishing` product_cat, ID 181, slug `decorating-and-garnishing` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Garnishes`, duplicate detected. Importing Product to existing `Garnishes` product_cat, ID 182, slug `garnishes` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut White Chocolate`, duplicate detected. Importing Product to existing `Callebaut White Chocolate` product_cat, ID 169, slug `callebaut-white-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut White Crispearls 800g` `Product` (ID: 2270)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut Paillete Feulletin 500g (Wafers)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut Paillete Feulletin 500g (Wafers)`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut Paillete Feulletin 500g (Wafers) with unique key `Callebaut Paillete Feulletin 500g (Wafers) - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut Paillete Feulletin 500g (Wafers)`</div>
<div class="progress-msg">Deleting images for `Callebaut Paillete Feulletin 500g (Wafers)`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut Paillete Feulletin 500g (Wafers)`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut Paillete Feulletin 500g (Wafers)` `Product`</div>
<div class="progress-msg">Associate post `Callebaut Paillete Feulletin 500g (Wafers)` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/18201403454635424968942180731.jpg` for `Callebaut Paillete Feulletin 500g (Wafers)` ...</div>
<div class="progress-msg">- Using existing image `18201403454635424968942180731.jpg` for post `Callebaut Paillete Feulletin 500g (Wafers)` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/18201403454635424968942180731.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` General`, duplicate detected. Importing Product to existing `General` product_cat, ID 176, slug `general` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Decorating and Garnishing `, duplicate detected. Importing Product to existing `Decorating and Garnishing` product_cat, ID 181, slug `decorating-and-garnishing` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Garnishes`, duplicate detected. Importing Product to existing `Garnishes` product_cat, ID 182, slug `garnishes` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Cake Decorating `, duplicate detected. Importing Product to existing `Cake Decorating` product_cat, ID 149, slug `cake-decorating` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Colours & Garnishes`, duplicate detected. Importing Product to existing `Colours &amp; Garnishes` product_cat, ID 183, slug `colours-garnishes` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut Paillete Feulletin 500g (Wafers)` `Product` (ID: 2272)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut 823NV Milk Couverture 33.6% - 1kg Callets with unique key `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets`</div>
<div class="progress-msg">Deleting images for `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201302540635149527409034562.png` for `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets` ...</div>
<div class="progress-msg">- Using existing image `169201302540635149527409034562.png` for post `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201302540635149527409034562.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Chocolate`, duplicate detected. Importing Product to existing `Chocolate` product_cat, ID 145, slug `chocolate` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Milk Chocolate`, duplicate detected. Importing Product to existing `Callebaut Milk Chocolate` product_cat, ID 168, slug `callebaut-milk-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut 823NV Milk Couverture 33.6% - 1kg Callets` `Product` (ID: 2274)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets with unique key `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets`</div>
<div class="progress-msg">Deleting images for `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201302822635149529028894562.png` for `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets` ...</div>
<div class="progress-msg">- Using existing image `169201302822635149529028894562.png` for post `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201302822635149529028894562.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Chocolate`, duplicate detected. Importing Product to existing `Chocolate` product_cat, ID 145, slug `chocolate` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Milk Chocolate`, duplicate detected. Importing Product to existing `Callebaut Milk Chocolate` product_cat, ID 168, slug `callebaut-milk-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut 823NV Milk Couverture 33.6% - 2.5kg Callets` `Product` (ID: 2276)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets`</div>
<div class="progress-msg"><b>CREATING</b> `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201303012635149530129414562.png` for `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 169201303012635149530129414562.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.savourschool.com.au/source/Product/169201303012635149530129414562.png`</div>
<div class="progress-msg">- Image `http://www.savourschool.com.au/source/Product/169201303012635149530129414562.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201303012635149530129414562.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201303012635149530129414562.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Chocolate`, duplicate detected. Importing Product to existing `Chocolate` product_cat, ID 145, slug `chocolate` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Milk Chocolate`, duplicate detected. Importing Product to existing `Callebaut Milk Chocolate` product_cat, ID 168, slug `callebaut-milk-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Callebaut 823NV Milk Couverture 33.6% - 10kg Callets` `Product` (ID: 2278)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut 811 Dark Couverture 54.5% - 1kg Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut 811 Dark Couverture 54.5% - 1kg Callets`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut 811 Dark Couverture 54.5% - 1kg Callets with unique key `Callebaut 811 Dark Couverture 54.5% - 1kg Callets - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut 811 Dark Couverture 54.5% - 1kg Callets`</div>
<div class="progress-msg">Deleting images for `Callebaut 811 Dark Couverture 54.5% - 1kg Callets`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut 811 Dark Couverture 54.5% - 1kg Callets`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut 811 Dark Couverture 54.5% - 1kg Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut 811 Dark Couverture 54.5% - 1kg Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201303233635149531537394562.png` for `Callebaut 811 Dark Couverture 54.5% - 1kg Callets` ...</div>
<div class="progress-msg">- Using existing image `169201303233635149531537394562.png` for post `Callebaut 811 Dark Couverture 54.5% - 1kg Callets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201303233635149531537394562.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Chocolate`, duplicate detected. Importing Product to existing `Chocolate` product_cat, ID 145, slug `chocolate` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Dark Chocolate`, duplicate detected. Importing Product to existing `Callebaut Dark Chocolate` product_cat, ID 167, slug `callebaut-dark-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut 811 Dark Couverture 54.5% - 1kg Callets` `Product` (ID: 2280)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets`...</div>
<div class="progress-msg">Duplicate post was found for post Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets with unique key `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets - `...</div>
<div class="progress-msg">Deleting attachments for `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets`</div>
<div class="progress-msg">Deleting images for `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets`</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets`</div>
<div class="progress-msg"><b>UPDATING</b> `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201303528635149533284724562.png` for `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets` ...</div>
<div class="progress-msg">- Using existing image `169201303528635149533284724562.png` for post `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201303528635149533284724562.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Chocolate`, duplicate detected. Importing Product to existing `Chocolate` product_cat, ID 145, slug `chocolate` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Dark Chocolate`, duplicate detected. Importing Product to existing `Callebaut Dark Chocolate` product_cat, ID 167, slug `callebaut-dark-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>UPDATED</b> `Callebaut 811 Dark Couverture 54.5% - 2.5kg Callets` `Product` (ID: 2282)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Callebaut 811 Dark Couverture 54.5% - 10kg Callets`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Callebaut 811 Dark Couverture 54.5% - 10kg Callets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Callebaut 811 Dark Couverture 54.5% - 10kg Callets - `...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Callebaut 811 Dark Couverture 54.5% - 10kg Callets`</div>
<div class="progress-msg"><b>CREATING</b> `Callebaut 811 Dark Couverture 54.5% - 10kg Callets` `Product`</div>
<div class="progress-msg">Associate post `Callebaut 811 Dark Couverture 54.5% - 10kg Callets` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://www.savourschool.com.au/source/Product/169201303658635149534186924562.png` for `Callebaut 811 Dark Couverture 54.5% - 10kg Callets` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image 169201303658635149534186924562.png not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `http://www.savourschool.com.au/source/Product/169201303658635149534186924562.png`</div>
<div class="progress-msg">- Image `http://www.savourschool.com.au/source/Product/169201303658635149534186924562.png` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201303658635149534186924562.png`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://googlya.com/melbourneit.com/wp-content/uploads/2017/05/169201303658635149534186924562.png`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat `Chocolate`, duplicate detected. Importing Product to existing `Chocolate` product_cat, ID 145, slug `chocolate` ...</div>
<div class="progress-msg">- Attempted to create parent Product product_cat ` Ingredients `, duplicate detected. Importing Product to existing `Ingredients` product_cat, ID 146, slug `ingredients` ...</div>
<div class="progress-msg">- Attempted to create child Product product_cat ` Callebaut Dark Chocolate`, duplicate detected. Importing Product to existing `Callebaut Dark Chocolate` product_cat, ID 167, slug `callebaut-dark-chocolate` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Callebaut 811 Dark Couverture 54.5% - 10kg Callets` `Product` (ID: 2284)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
