<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing parent terms...</div>
<div class="progress-msg">Composing terms slug...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Chocolates & Pralines...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Chocolates & Pralines`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Chocolates & Pralines`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Chocolates & Pralines`</div>
<div class="progress-msg"><b>CREATING</b> `Chocolates & Pralines` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Techniques...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Techniques`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Techniques`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Techniques`</div>
<div class="progress-msg"><b>CREATING</b> `Techniques` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Entremets...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Entremets`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Entremets`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Entremets`</div>
<div class="progress-msg"><b>CREATING</b> `Entremets` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Tarts...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Tarts`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Tarts`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Tarts`</div>
<div class="progress-msg"><b>CREATING</b> `Tarts` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Macarons...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Macarons`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Macarons`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Macarons`</div>
<div class="progress-msg"><b>CREATING</b> `Macarons` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Tempering...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Tempering`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Tempering`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Tempering`</div>
<div class="progress-msg"><b>CREATING</b> `Tempering` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Petit Gateaux...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Petit Gateaux`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Petit Gateaux`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Petit Gateaux`</div>
<div class="progress-msg"><b>CREATING</b> `Petit Gateaux` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Petit Fours...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Petit Fours`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Petit Fours`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Petit Fours`</div>
<div class="progress-msg"><b>CREATING</b> `Petit Fours` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Desserts...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Desserts`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Desserts`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Desserts`</div>
<div class="progress-msg"><b>CREATING</b> `Desserts` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Tea Cakes...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Tea Cakes`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Tea Cakes`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Tea Cakes`</div>
<div class="progress-msg"><b>CREATING</b> `Tea Cakes` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Pastry...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Pastry`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Pastry`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Pastry`</div>
<div class="progress-msg"><b>CREATING</b> `Pastry` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Verrines...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Verrines`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Verrines`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Verrines`</div>
<div class="progress-msg"><b>CREATING</b> `Verrines` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Chocolate Artistry...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Chocolate Artistry`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Chocolate Artistry`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Chocolate Artistry`</div>
<div class="progress-msg"><b>CREATING</b> `Chocolate Artistry` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Confectionery...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Confectionery`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Confectionery`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Confectionery`</div>
<div class="progress-msg"><b>CREATING</b> `Confectionery` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term View All...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `View All`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `View All`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `View All`</div>
<div class="progress-msg"><b>CREATING</b> `View All` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Viewers Choice...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Viewers Choice`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Viewers Choice`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Viewers Choice`</div>
<div class="progress-msg"><b>CREATING</b> `Viewers Choice` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Back to Basics...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Back to Basics`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Back to Basics`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Back to Basics`</div>
<div class="progress-msg"><b>CREATING</b> `Back to Basics` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Guest Chefs...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Guest Chefs`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Guest Chefs`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Guest Chefs`</div>
<div class="progress-msg"><b>CREATING</b> `Guest Chefs` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Ice Cream...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Ice Cream`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Ice Cream`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Ice Cream`</div>
<div class="progress-msg"><b>CREATING</b> `Ice Cream` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Base Recipes...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Base Recipes`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Base Recipes`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Base Recipes`</div>
<div class="progress-msg"><b>CREATING</b> `Base Recipes` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Christmas...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Christmas`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Christmas`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Christmas`</div>
<div class="progress-msg"><b>CREATING</b> `Christmas` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Glazing...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Glazing`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Glazing`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Glazing`</div>
<div class="progress-msg"><b>CREATING</b> `Glazing` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for term Sugar...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sugar`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sugar`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Sugar`</div>
<div class="progress-msg"><b>CREATING</b> `Sugar` `Taxonomy Term`</div>
<div class="progress-msg"><b>ERROR</b>: A term with the name provided already exists with this parent.</div>
<div class="progress-msg"><b>ERROR</b>: something wrong, ID = 0 was generated.</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
