
@font-face {
  font-family: 'VenusURW-Med';
  src: url('VenusURW-Med.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VenusURW-Med';
  src:  url('VenusURW-Med.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFzoAA8AAAAAr1gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABczAAAABoA
AAAcZKLQ6UdERUYAAETcAAAAJAAAACYCxgFYR1BPUwAARbAAABccAAAobCH1tr5HU1VCAABFAAAA
ALAAAAEWLm0kqE9TLzIAAAHQAAAATwAAAGBoo4HnY21hcAAABOAAAAKaAAADxvvT9XRnYXNwAABE
1AAAAAgAAAAI//8AA2dseWYAAAoYAAA1NgAAbgC40o1YaGVhZAAAAVgAAAA0AAAANhDLdF9oaGVh
AAABjAAAACEAAAAkB6oEW2htdHgAAAIgAAACwAAABTRtIjGXbG9jYQAAB3wAAAKZAAACnGl/hdBt
YXhwAAABsAAAAB8AAAAgAZYATm5hbWUAAD9QAAACHQAABIMq7XencG9zdAAAQXAAAANhAAAFk4K/
IYZ42mNgZGBgYJScaa2UMz2e3+YrAzfzC6AIw7Ut3Cdh9P+qf/tZTjFPAHI5GJhAogB7VQ4HeNpj
YGRgYJr9bzPDCZaH/6v+V7KcYgCKIANGXwDDMwgLAAAAeNpjYGRgYPRl8GZgZwABJiBmBEIGBgcw
nwEAEmgA5gB42mNgZnzA+IWBlYGDqYspgoGBwRtCM8YxeDAKAPkMbAxwwM6ABEKDwhUYHBgUfjMx
zf63meEE8wRGRwUGhskgOcazTLOBlAIDEwBTsg1pAHjadZRNSJRRFIbfc77J3xCpSbNQ/KZx1MaZ
MLUQwZ9JbVwk5MIW0aYfoXZBBUYE7aw2LWoRUlEQ7SK3kYtIJchFq35RcpYRUTlEi/DrPZcZsVEH
nnm/n/ude895z734AfeTI/yz61mk5RpG9QaOag2KvDHUagrNeIlOqUKHhLFTTqJWsijDPfiSRD01
IldQyfERco4cIAdJA0mS/aSJNJIo5xgihy3GKlNo12mU6hhExzGoZzn+DgZkmbxBvz7HXr2Ffiyi
n2OrOK6P71JemO/ukxdo0RgOMUbc3mkfwrKCkF7CgHYDXiev9zB2krob5VKHY7Zm6nbOv4MAr5jP
FL/LoleeoIEak3lqESrkN5rlI1KYQQ/mggzH9TKHHiXyAd3E53hbU1QSfPaYsUtQLO/RJdexVYdR
KuOc9xNjX2X96hgvi8/UKmooV3urT7PWBIFOopX6x8aoj5A0wvfKEZfbnGsCTa5mrL17lsVFcsY9
S6Ge+Jhz60lqK+I4wdh3eZ/i3A/IBNr0IbocP13O1a7uG+Adh5oXzoc10IckSWAx+Eb+0qvKVR8K
mSbmw1rMhxi9XMagq/kG6Guq+TD/P/QgSiKYCTLkl6t93oNCrCam5sNazIcs56danm6+QrW8Of+q
sh/pY8xy5bcNrhbzm6v1rPVNXlmnr1zvAuvWyvXXWi9bP7leZj9ZP+M7e8d0Fu2mErH74Atmg3dW
X8tznbLGlmNevQW0eCW8t7iJXPwEOnIadnuD/Vmotl9cz5ruQ7H5ZLXaVPN7if28TmvYY+ZzYew0
vUg7X6xnT5O35BH7s0xOuec3ra/1KYYMbxvzITxjojl8ri2aw5eA/W6kMaLViISWWNcMmkib29PP
gsvuHBvlmTHJPZh1uoWAVOsuxuYY2yO8r9PJYIVjhklxDnc+8d2IXOA5cB4V/wD38RVUeNq1k1dP
VEEUgL9zwbUiTXSlrMNFQIoURRGkWFZAEHvvjRhrLIktaizYe++Jitiw95qoDxp9NTEmRu5uNPEP
qInR7DhZjC8++OQkU87DzDc55ztACE0zHjEr8thEEoxD5ZTZZ9KHZnRmDW+luURLnHSSJMmQXMmX
EqmQapkgNTJXlsga2SdvrDjrpfXK+qBiVKzyKFulqBxVqEqUV11OtBNTbMt22eF2lB1jx9oeO8Ou
sKfaNcmvf1haG5riFO+kjbQXj9iSLlnSUwqkrwySoTJZ5sgCWR6kuK0XhvJORSq3ilcqSCn4ixJp
KB3/UGYaimitP+rn+pl+oh/pB/qevqGv6QZ9SV/Q9bpOn9Yn9XF9WNdqryYwOjAqUO5v54/yR/oj
/GH+UN9P33ffF99On9sX4xQ6+U62k+VkOmlOihPbGGj83Pjp/VpXZVMm//twWa2CFeMvnmD9Pln/
eKPpZgihpsYumtOClrSiNW0Ioy3hRBBJFNG0I4b2dMBNR2KJM3Yk4KGTqVciNknGj2RSSKULaaST
QSZdySKbHHLpRnfy6EFP8ulFAYX0pohiSig1bvWlH/3xMoAyyqlgIJVUMYhqBjOEoQxjOCMYyShG
M4axjGM8E5jIJCYzhalMM//fxGa2sp39HOEkZzhNHfWc5RwXuMRFGrjMVa5wjevc5Da3uMM97vKI
hzzmieSw2Hhew2zpxnJj4ELmSiFLmSPlbOGoeFliTB/ILJZJkZRKiUncAOaxyrDP84B1zGCB9DfW
lkkx81kt3ZnOejZymK98k1TpIl2Ny+mSwX2p5KmESy/jdQ9jd5VxO5cVkinZkkctO9jATraxmz3s
ZRcHOWQoBzjOCY7hk3hJYpHpQSWJrJTOpksSfgGsbbqbAAB42j3BXUgaAQAA4LvzPE899e48f/Ln
1FPP89LTO+8cjBEhPsgYIRFjSISE+CB7CokhPcgIiQiRiBFj9CARMmSMGCNkSMQYERERMSJEwoeI
McYYIhER29O+DwD+owAOeAF8AgFwFiyBq2Ab/ApegEMIgDDIAWWgOWgd6kG3Kl5VUi2rTmAj7IWf
wFm4AC/CbTWlltQldVN9pB6oR4iApJEsUkbqyBayh5wh9xqXpqTZ0PQ1v1ESDaCTaA5dQFfQt2gL
7aDH6CV6o5W189o17Z72pw7XzejKuppuR9fVHenu9V59Rl/Rt/QHGIAxWBrLYRVsHTvGrgykwWuY
NlT+rRsOjKRxyrhgrBmHJsSUMTVMbdMX0yGO4Q48hc/ia/gZfkXABEMIRJrIETWiSZyTNFklO2Tf
DJl5c968Yu6aBxRDTVJzVJVqUp+pI2pA3VkilrylYdm3DK1Ja8n6wXphg2xx25xtybZlG9hle83e
G0uNbY49OIqOpqPntDpnnOvOHWfHeeb84eJcRdeG68A1dMvuorvuPnYPaZp+RlfoDv3LI3mee1qe
c2/cm/d2vQ++uK/se+/rM15mmllmmkyPufPL/ry/7T8JYIGZQCswCmaDheCr4GawGzwN9liMfcxm
2QK7yrbZM3YUIkN86GmoHNoO9TmYk7h5rsEdcvfhiXA93A33eZqf4l/zO/zt+MR4Y7wXkSJLke1I
L3IXlaKz0Vr0mwALslAQ3gmnwp8YHovEMrH52HJsO3YZR+OleDd+LdJiXEyJWbEolsU34q54Lt6I
QwmQMMkuBaSUlJeq0q50nXAlpEQ2UUwsJQaJoYzIlByQX8ob8r48UjAlokwpOaWkLCp15VB5SKaT
xWQ1uZn8mPz+CPgLJ+/FiwAAAHja1X0JeFvFtfCdK8eKd8vabEuyLF9rs2Rb1rUky4ssy/Im77tj
J7azOGR14gBZICEhQEISA2FpWUKgpTS09EEpW9naAI+WUpZC+7d0gwJdH7QUWtLSFl/9Z2auFq9x
eN/3f98fsJTIc882Z86cM+fMEcMyzQzD3M3exUgYKcN4JLxE6uKV3UmDSS0dt7GJM/++bXISRrDM
ADqG7OwpOk7OSXj8c0tJZsde+IHfZQkfoiwY1w2DK2CchtEzDFJyUs5Dflw8+eGl5Ac+N3NSntVv
zy/Lv7nAYdh2iWrHbn1p3s15ZXnrNiu1N6tuRkmOX8Afxy2O1+CP45ZbbmEAe2L4bjaJ/TdjY3im
imFqUaJSoVapXSazyVXu9rg9Ll6dh9TSEmRWwrtKqZCmI6mSc5UguSdRCqNVegTjXOWmxDWowNS0
z+60GkrGXKhpJLtJ6nGHgprKzoJa3rX9kndQlYHzHED1WlPlr5WpGdUma9JnWktxg6Uz27Ciuy+p
M9Rc06x4Wa5Vl64aq85RSrq7Uy5B1hck2bkWo/3Kv6Sq8srt5SC/FYwu/E9JF3uMSWWyGY6xMw6Q
ohNTl8gVYMrVBYQ23gmErcC/wJ/jj5UK8lkS4tHZtqEaW2XLyGCrXZVbZh1zoGfaR1a1hwb6W4dX
jZXNfIxubBEm2WOXTuz3mPasndjtM5U1N/V+KdT55X0T6y6+9Ae7a07ddW9Th3Aze2jmEJAF8rSG
/87a2T2MhXEyNQxjVCaazCJJHvzCE1qkIMo8Vs+6zepEKRCJ0hEh1mMy+xBQxxUA8ay9utnU2Dw8
VdevrePLfA63JEOSJEtBGgUvaVV6CvMzhNf5okCF3R5M5BTKLFl26xBSaGyb+2qHPS0Wb8jnLGnh
pPqVcqNKUm5pHqzrDagQa6wvcfnztr5nLFCptXpVPtCNGC86xhwl+ki0cY+oheR3rnAXYtmHGRnW
QDLnoCHKEiDU40OILc+3NigNW8cHc0rZh7eZOsf23r1Ol79t+OVjjx4zOeD57HA38wf2UUbOMGqX
DxFlMbui2pStK1SYPfWuipzGijz/N7eqnSVDl0/e5J+0+4v3f+H6y2tbAYYOTaJGoC8F6HOpzbzU
ozSrOY9uuuZ4zXXXwQs6e13N9HTNdbUnT2Kak5ld6APWS8bzsARhiYDScslv1L4B/6NLX3ih9oUX
YJwhfIC5nJli0mG18lIVcCc1gzrXIM4wjFBKljSLW8nqi6auzczRJOdpUiWlaToMP5/5I0pGJiwv
WCLK/Pf/WFuLPy8AiR0EePA5RluwZmqKyDATXqbYO8nnoHqZKKdZ+AN758wGWOMF4U/QX0GXMxkt
jHLCeiPqaiYSBpWlioylhlauCnDWgxMjgYKinrr+uo7OQF1bJ3ssZLm28+YnW03XtX1lNNR63e6L
j0/vnTqB8W6BlwB7gknCcgPZ8zJOlrjF3p7e3e1FjzdndBfPXMoqegiN7nAYvc1OA2+MYYXbI84U
Rq+WxnQ3A5RVakCvCxuTNfqKw32BLc3KDtX2taPbPU1Thfos5EahynJ+tLrbWVvn0NosFY5VE5tW
+VbxPRpTIcbjCf8N/Zw9zsBK9qiJNlHuuAKpCy8Cd2QFULR0xajU4iJ2lbd3pWtNzoqW3saU/Io0
S05pbVlplbRXsvbhDYUOh4q7dHzNDsGlUdlUeW1V1U2STklarsfKlxjTNPnWtO6hVZ0Or0ahcwSH
t492Ghlij+EN9OU46A3WBBfiZVRjzLxMakQFtRMT3Q89lHlbJXpC6G+67bYmlKsjMisBXt5lr8TW
uRYBjSIjoEXyFUqD1Id40fiYTSXdkmzjoY7WGkdLmk+F+oWP0vRVRSMXX7F9jOfuLPZx/LrOjvFq
Xor6UdMd+pyjW6cOVxiBNifox/swh1rGCiilWE6JcZCJqfbA7KhV0oJEIk0iQvRms3qwkTOkG4Jl
Izt3r61cr7VUB3Z0l2d/3d+st9Y5LdYmVmZfz5dtKDEd3jJ5pKKs+cDDQ2Ol6idW3WlxW8yr20cI
jxZ4eYc9RNeeQZnISjm8M1jQE8O7DCPJZRUXs+6Qf7vw/nd6T33zdmoHzUDzX0CeGsbElMHzcdMH
j9LdhacGW0oUnAhOEtF1oH5jvdZyeN36g5acBmc2t3NwaJdRccLX1bm3s63WWR9w8T4/Wp+TXxLo
n9q1qsGmy87UWF3BVcONHouiqqXC09ziqWhGqW6L3V0+4MZzXBj+O9FvHZYjmS0sKbyLUQONJUgs
ElcgB0FG5FjRlqzgHO0WZVpudrFveGrP2D6/zacdd152uKq5qdpsqO/YUVSk5HrMoyXy/MObtl+7
o/PKL41aebZz9W3DyqKx9vVUx1rg9avoWbrnY+sgcfHSlpGR1WhqCrVffDEe0wT26F4YQ/WQV6qw
PQJrJIfhTSNIwRUW2diRqaMyK59TJctDHbt2MdTebQD9rWcSsY1OQ0qjC30g7EQnBT1bH3zg/uDL
DZSGZObP6AN0VvQ7DEryXzJ6V9CTn7O1/bVz4Xlcxci1QpkMwHaidzdEoLF4/aK72fuZPGz1PBw2
GLHdS20mOknWLuxu2A36Wy9CCr6Rq7SXVicPZFiu6Nro8nHqnv4vtlkK+IZyk81bXaoqMFSZNo+3
8iOV+YWqt3bsoHQnhc+xX2fPMD4mBFjNGLIOgMUZC6w2Hh5Pnikzolp42UW3X3dkrNoFFkx8AnY3
/bbqhjzO4j+95+ADDx6qW+fy1u4fuuOlH37xxGMtvlqdIjPB7iutLS1vzUo35HBFJ3Uah8OoNTrR
Pt26Suc3DEbf6NbrHzx08IFiT6f/eWR58d4DW9vqU6Ta8jpHkStDmZ6UkanipusyU9IzijSch/CD
4GUC9jMpeDBkR+DMRqmcL0VShJK7UdJQs/BWaPPvxrMy2VMzE99GT6AV/+JL6NpqhGfb4Vk5WAQw
qLzMIO4ZopEEviUy0aSaybsNNSLpRfZ8o628UuMss1dsfOy5YEdvw9OP+StGf8SeyskKWkorVXKN
c9C7OicfrRI+baiuCfWZbG14/Yc/YvthnjlifczY/kT8FZhyNVk/ZLPCKygPsV0Bdb67ZVWljpsa
7/DK1el+s61z/ZW9luIz0yGvxcnmBCq1Jf78Hb79N/IyI9fqy3MP2a7rvuvpPIUTZNMgygb7dsAd
T7nD69KsdpJZNJtsqOGfG8vr2y4pHGj8wslgMNfL8ftvZ0/pzPdsfHFQo+pFKn3j1etrBoF+gId+
Sn0HkBVVeXhvAIX+PtIIv0eV7Kmuu7qFc90M0f0gvHwPxidFxsNWIAuiK4X/8/HH7KnuO7uFr5Bx
ReG/snvZ/4qTS0QNXQaXQYZVkYqFGmd2bVCpK+ue2H/l5vLOYuGfaKz6YM9Ng9ZSt6P3qkONOWx+
rTvHdtPefV8osH6/S3glWLOu5Hio7wZ7qDE7QhfbGuGDVxpceDM3yIIDaHhwUDjDnvrd72Ym0Abh
TjqWuYP6czAWxmA1gs9V4Q/RbvhcKfr6WD3g99TqYausHklZXVzWr1b3Ocfshhe9poIrPE70qaDr
NRttje5aGZVRHdDSF6VFBhECuI1SZV0/at79+msjjz7AnhJeRw70vGBBd33lP+SZALz8Hp5ZQZ8x
KAP9qAPoejwmd/anZN7x7zUIsycBVQ5e9/TT1/e+1v46jH2L5WYm2FUz9+Ef8Zk1UTqQGuByyCwL
XoZMhf3bhTcsQIeqkXWAYP7VPHOWrD07zNuN7DfgmRzsb0U3pqirRc0YGrrh/vuuP37mnuPrtk5u
GK/QGi5lv/HcPXc9/fSd9z7XdfM1+4/59TvqDtxIYNbDC0dozxJ1lhggG8qBfRrWX/2/NvBdTaUt
P3xm78HHQE3tuzY58oWfo70/pvbNFr6J0JQLcQOzAodbMQ8wtgCkKqMH/GbqmYkKB7uYpwSxQ+1c
mTU/u6c52O5pv+/EsKWkQVlkLhPeHyo2JJvMMmNbTfe6bYEKvyrbwFdlmEoSrZYvXXRg7Npx2/GO
6VEdp7Leby00abIKuaZ1twRdN197POBm83KBNjzXvcBbJl2PorWBjRumnMP8gbBsqA6Vd9kLLM7C
7rPrH//qx2PlZR+wp7IV7aVdZm2a8ADqEB5GX+61ldC5VsAc6GDtlEV3YswRsB1xDUjUGVlU+B9R
D8JsUnRJ8tybQiMFqrq2bUWuKy7q9httirY0TclQTVtGWqv9Pt5wfKruYlPO7Y1uU3NTlSNXlq3Q
GWwtPRsKVWVFvkpdmbdEk5WRn8Q1llaPXVxs1QJNCUDYv4lNJn4OB+qXgP7xo0E21N098ziLNx6m
AWyhB8YocFwho345WT+iI9YwMNAWGukPNkyGdmv1oHztXcNDTei7QmB3dZXX6RrClh/kCSYH761E
zSVc//e/N3wOltPML1gzLFNKi6SSrgU5HkOGpSAuoe/G44PTN/Q/NXz02mF44H9YNfmZYGUzf4Xn
8L5iFteDXMKrPbxEDs+hP3x//Y1fXPfSbzc8+DDagDzvvy/8UDiFjR/FxVrhmZWAS6LWILVExv3x
tyOPfXv0L/0oG12FhNdggxKuEP5E5w5gsytE++hCYOqUyCBNQZcLT6LvCcfQXmRijV22mV/jvWMw
PIhSqEwRSBRbUpSyZcuj7KnamcpaSXBObGTgANNUk/CHZvg3/p08PMi8KM6JjMMWz/Xio1u2sKc+
e6aW/Z6fjFGiy9FvqDzlnJyXc+bVTc+2PNd0N3yeL7zzJzyGCW9Dn4QfxTjAL3ehT4TUtuZmyo+B
lTH3sKdJ7MurOcOQtYw9PU3XpQL82PvRz8CLhXUpN4umHFwP8M3MdJVSl1aMlrBvHu9fjDdkFLjb
V5Xkl66wFRtWeLure3Sa5nqTTGbLL9WrnuYK/bWlJkcdKjPyeaVlBZVvlUrqEco2BPt8vMmglKen
pcuUWp38kT55ukLuLixuInT5w+fQK8CzDMeM2JrGRxpmpTzmU/tbOa+pb+vGLpdNnr3H7Q9M1gdB
L/9tzDu6ZevR/DRTM7pxpL1t9XBL5yiVh5Hw/EtiHcUlSKwi3elN1FFGX22TyPPKvcHGmlFZUKbh
h8Z2bBnt5/NQi64ku2jdmbUXWz1a99XvHXLrgV4T0Psw0JsBEQGDsJV2Rb1ulTQ+xN0Uaikf6Llo
a4+lss8TDHjc9QF0EqXMTDT3Ht9+0TV68xogdk1r2yiN24DWr6Ofg2WCCKw46tOrI9sZ9QSNHmIt
0deE1xJy86tcuqyseuNgzVCV56Lh1RcJr72lNFSueQUFTaX5CpfD7/VV7t11+NBUhhN5DDyRCXjj
zMfs3YwK2wYez3gVUiuxaHSIJ6YivVWtrWK5zFR5dltbGzpSfdCVpWb9EmXmvmrhMnSE6pM1bEOP
oDfBZyjBclBEgg8SCBPaa1C8O+WSUuET0TyizHFs7RrJbErkbfX67Oreeqcmf3N3m3ef11frqfDX
olcFS12zyhaqy8uzKZJ0BkNuYKjVpdvimzjcVOMaPjM20tU/FtmLT4POy2PaA/YV2CjHBlcWaCmo
MveYlaGB0nr2tPCx1RAsbIbtKntPYxmYAZbBUcK17NViLAMQIJZR1ra0tAAJPJu9bRvDht8LFzHT
MCYd74kktCemkrCM45m8/ExHKGGlqiW3KvRGR1IZa5n5Takm08J+CI8Djf5wGD0Y8zE8vFRuBh/D
33r/umvu7DjSCVp84r6rhMcgqmj7AYzHNB2L+Ty1IdHngc/ZY+gXjAGvbyVZKGq6XKL8wruJ/qW2
VesxWStzNT57XX2ozV7dVsRZfW3oVZ+lwFRSbO7rEl5Gtq0hl/A/qLLI2VwqvItp9cHLKdBDJfXN
4uRJtzCZL6Spsfeb5aFMVZm9Ab0asBYGCgJgWTN9OkuojNpWljGEP0LfBntDfN85J5qxRfLn0e0N
3vY1k5NjnmCwmvf70c+uvvhwddmRqe2HfRt6+sfWtg9OEHh1YSd6BejKwusDvCNlfJQLboE8BtVs
qgtVdK9zGQpyekohwN3nDtRVuAOe/NfYU8HOserBoSobX2gVPmKHsa0YbZ+wqhkaV/PoIcCRTs6v
iFcaXdvS2S7VRGtrWU/v1o3dfUFPXb3XoZep69GRppmNKL3t6Katx9qGWjvXFMjbjG1rqC3Ch2pF
II90KtfoqlPKalv4OtbOZZQE0KsNHSu6VrZ7BOpnZob/ho6D/SJRfh6KuRZijB/zK1TRszZTZjMK
VBRXqWUFPXuGg/3luelNSeCuc9aqloaWi7rWujUHC5yVZr02Kz0thxvxNJdlewxOpSZPozNmyVr4
2i6vDnBLw/9i3mfvxXqA7YSHxA5EAEpikGTS9rYQ6ECSGlzpVHS05mTXOzXCx0ZNQr0BlDIb018F
Nu129OpcH4NaTIBRFSoxO4MtLd5Okz9TDQvuv62OrkqUKvBVTQU6cxeGAX4DOgQw8J7Oy9UeObgP
qR1rMtOHu7/QCo/8gueRWaC2DfZxthm9hmUs+hoecLvNUgmXFFrV09u3KnRZX2NqcmM/PHcb2iTc
hCaR4ERco194U/QH4JNXyTr1mLHPIVVzZmnKkUt7O1oHdh/pG1v92RtHjrzx2TPPMHRdW9BpGG9m
GD2KmT3RZGMToZ7tV7nKuwIreYs3T1ngt3ZwipBaxTkbQ6ay0e5BhSUnLbcgT+G4sqjQV9iASoU3
PApldxWSzPwhkG/1V+USnPjQdjXgJD6LnAOfRcIrda8+i0p+81seDfu1wolqPM4abkYrwQ/HtoIe
1MNer4JJLDDVIHxs7UPwjtVImY6+lssVaAy16vZATn5+TrA1NaUWfImvlJXJ5a7Su+q4imDnvfai
lZ4ka/GDLXXIwxoILb8K96Fs8awdpvVXNTXgzjxJ9V0VbmbOUfxqHDmWIIpWPPBQYbTwDoEFULKb
4k9Nb62jBKh9Bfp7Mfpyx+lAAfIgQkCSZyUhoAIVEBwJrAJ9xD6F9zKkpnaAHllS04jzET80FfqM
cvtaqzrbpjMaawpVzk16WTH7VKHPnVmUZXEafeVZxWnUZpnDPmY/+jXdC9RytRzvBeaVjdKezufZ
RDTzGVs6uR3vfYAPAmhGzeRhbxB8eg4sEDm0oRkl4NeVQ3MhyN61STooGxzNHEzc2udbs2nTmjKP
mz3VnzDePpQqnE7d1LsloaU148jr16QPCQxalbG6rn6YyDAcDn8MPvADjAeoMYuxEriOpmgshdNZ
NK6AicXGUKWmjoPoNnAFlVV2h02TdWh9brVn614vDGlj25r8wbzbr8rIzk9KqC/SurT1+UFH+bZy
M5/MhewJBqveUd9hH/SWt+lqKjI7ewI1JcH6khwzn7oCFSh7clprK3REXmVMF7uZvQpiPRO2UJgu
s0ftdqo9aimmRi0lwZ80zjabnGOOsrX2tQ23BMfsEFrBS31HS9PYJ43rxhvqx8cOjPnbWwMwwOkY
Kx4NdIQCY8VjPD+GvjMWbFy7Nli/DuTyKSDXgfzJvJOkoZgVcfFYPma1HJ0dvcS7rvNbD/c/8e3W
bQ07RyBURd+tP1j/5pvwchYCAUz/r8L9ov5irx6cegkOurNr8B/kRyMz/xHO4nEJ4RpWDzFeJT75
RPODOWlkdwOP1RONAU00BPTEpmsFsdQqtfhbNqs1TVsyWNOOI70z5VyhvC6wNwDBnqaL1bs3Q1ho
PAhRoVldUXVxl99kE44nN7ZP1icWGK9oZdWzYj+nuSRUpW+trim2aCsayy1NOFTUGrQFtpZqm1fn
c1VAuPiGVlZQIsspUqXZc3X5cnGfZjNQIrtfPEfFCSb4MXTX9bIZ2+EPOaezhf/Ovst+DeyimrHP
PWmQRh10tTTOw47sm2h6+qWXT974w1dvuna4/cFPH3xAZ9Z3ehuClb16k3tjz/j6vvXs1165/uTL
L9908gcl6wemrvjWQwcue/ghS+eqmwb7iocuXju2E9PgQzloA4vPewtxjhRB7COPnJ6qqiAki8Yw
7ujh7azz0Q3CLz1O7cYKf4ZCojeoE6xVtip7Wa1Rn51vPpKbW1xcoAEYtSYTStKsdpd+KSvNgWTZ
ZTV2izMtSynLUBiuqslITks35+bzIDcLM4X60WMQq4HxMJphg8TqTt5Q/9GjAwNn8MvUzg0719bV
raVv9DyaQR+gVHx2ZCCna+hhYQi9+xOv8AmzeD4uIToHGaD1Bdjn9kTPZvAmxSld+PjChjyLTM5/
nnbmlOgVjov928dv8FSdGJ4zLVegWzJyasuyM1e+8oMfCKXlL82fE0LfpawJHWInMH14DtAh4Rw7
gUkEmUygI+gG9uugJ9jno2EcJYSLswCfsr7Bwf2Dgz7W7PVaLV4v+/X+6pr+/pqqAYfXYq2shM8i
Z/x16AN2LcDLmJ39JGf9YgYUn/affuGF2scff7sWyw/1IT17B7HM3FKZPx6p/pHMr+YtfntaaVqg
siJgsAVVWSlPoT6Px51vytXn56QrFTq1nS+35xfnWDKysnCMjdqRhr2dRNHqGFNiyi+W8CsXAx+a
84tMSYljpUlfYHMWpQDooEmnLUxwIlTp8lSrdLVNVe4A+kluRrIy16TL45CFLVXkqrNWpmauSJOy
Frvdkq1LU9aUuB3mrGi8/1V63iAHX8VQNNzFyk6cEPN5Q+gF9FtsI9XEE6H+I3G/yOagLGnNyqw0
VLa0tubUlHQWf409IXxUy+m4sVa0UtD18MWt+EzFFr4bfQg4ZBiOeEaAl5sM//dRWs9Gt/PSPzj4
i9ai02vbu/hSy4yN/emMjdDAwD69Bt2M6ZPB5K1BBTiJjHPV9cze8Lt4LahdPD4O5CDUNQwilKZy
JmcmX9JfZrbkZWQXYB8L9THPwXzOyvv6c0tWlpUVsqVGqUUtPIWSrcRO+cFG7GC/C3/LgD2J2oi4
5aCKKSHaKPzyy4G29kBde8fmDoejyFhMlv7BNV3tw6NdbcO2Rm9VMOipIXrIw1ofj6x1uVopdeF9
jrzx0aWOHpuz1hNwHQrbRGhPgxWhjefAiDgkcXkiGm3mXdLa3FLMFJoW9pSj4zc8aKqpKduyJSmO
yTUzk+xNM0/pfv3Twra2wusyMM8YxxUijuK5GOSLrQApzmVJ+dkoH4quh5J0uh5QPV4Q8yiYhAWi
N4sLRJMjLhBkxisE8w0+H/tFWCMSEjE3MEzSfG6NF7542GZhNw+SeQBLZvPmJCHjfKsJ0zpLYr9f
5upiGXXYjg6jN4EXI4m2FURk0RBTnUgDT/HIzGUG/f5+lzIzUKKrspfUSHtX6JQdpT0TZelt6jTU
i/z+qhx5XUlZvq3KV6o0FA4V5ReOdwSqZe1qA9dPaiskNJcm2UJyaZlzsmkSXs3Nzag5hiyO+Kwa
umg6Ds7mBeGYwVDMheO0reqKh/PL6Xg4Wwkc+Xw4ODaaC2pX/6rBFjDp8dCuv37Nmjh49QSefi48
UFUn8V35iO86F3aXgy33u1Rpcph3u15r5ZSKeDzvmL3ZydpiXp6BdZDiCokyUMzFJjo6c1Gs6/b3
zqJd9IEi8K4n8FR4d5kFj41WZqnwYoM9dy5kRchZXmjkj2pNWo1l1qSdKDcV8uUhr0WjsWiJvWFB
WNXkjDGLWDExz2dwcVIOqSW8pFp4keT7vMLUb6cG0a2KRx+NZP6eeII9tUn4Ma13CA+TfKcVnxVj
KwvWgPPEEpzqhZKgaA9YYV6RmlCI9hymec6ceXnQxjQ7WGi9Wt4t//bNJN1ZPDsVGtpP85/op6DP
ZP+Oz1gi0J24rKXwKVFkyoBkyzQTfXbzAs+CAsc/+w+ivPRZ9i3Q3MizW+HZrHnPYqWNf/zxiMJG
IBBtlYgwQgS/fA4UUXniwXyfKE4EBtEaFntpzDeB/9jZIqAPDmzD5/KgAYRTzCvYbeZbwGtsHPAY
HNiO93MYR7iCceE/47Nb4EuCd05xHOYnOPDgwNBgc6WXjo6st/Bn8Pou8IDhpsRONzHt9QOnsY9P
xos6zmJbQfLVmbhySg6RlCuWsbMhuSwuaQ2WvMHl+udGvr4dZ67/PEhT184Dt+9AE72/1Znvuej7
gxoVmhA+RCp98MiYf+hkL8ZB8pxgA1LIGorLdMrnG4BY8nPQIeFh6adnZZQl2fN0sPTls/Oh7G/j
Vj+2NSQ3KtlHcqO6pbKjxLDOz5DejSdpoSwpypuOwd97fvjE4M6H/6UiUNuF4N+EHbgI/MsJ/Pzz
wCeGeD6Kd0WlWBALVZIInl6Cx74kngUM9HycZx2Scn+5Kl0mc8BEaWx4ohbCf6u5MidZV4KnK0Gk
YViUpWFJKiKGez7qN7BCL8grVXDM64vsjexLjBJ0D9eC0WMKckRh9pjE+gYJIrkvpSIJRbCi/xQZ
7HvOXD8YLDaU7PY62vav/jNKKGvYxdvQekEor8H42UMt8rbxZ+9+xtSh6Br/zuDt9saZV9DzBSPt
229AmwR/vl+/s+4ass5I7hXsgoLGSQtkX3H6bnYG9okhq2OBLCx7WLQhFObmpWBiwzkL5reJgZkH
E52j9kaEuRVgahaHSQzqLLC7sd55KxeEHPUFKOwQoVe7GPSIoZ0F/igxtQvAjtoxkgcGWawkWedI
Jhgb1Ug2OKtouHt2RpgaWWqfCsEGpuOTbw/J9EbibFyDBBG2+Y6Bga+QIojQD7+z99Cj6I032FOD
tBCi68c4c90Y/gS9zT7ClOL4Rqy+g/XickZOJvCOi1MqnmjpYKQo4OOsJL4kvzBv2Jhr0Hoc9bmp
KzszLNcOrjOrTHx2xa7Blck1Entee5tJH0hJL7WUV5cqyyoEHp3dYRwfaKty5KanqxyrR/djGZOc
L3svyfm6P1fWF4yjebmZ32nYxC8g+8taplGUxq/8b2iEeV0ujdeDs3ABNKI7wRhHaDxDaPR+Xhrx
Olkuma9Rp+SCKBX9FkrrFYTWxs9HK0eTfvGWfrmE/xe46PmG8lk++oVw8eXYtgCrmPJyjagblZ+P
G9GGLJeD74J1uSC5E6sTofUlQmv155R8LIpQ05Bdtfy6i53x8YXmQtZhO40/jHKtVq7QaqkOsWfQ
z4ETH/aDRU7EXLMOGWcXJ5yPq1pkoiqUzrlbS2vzzR7Lmk3Cq7R+QS4LmgZqJuo7eny9wFejMQPz
la96JsJXy9sI1zQAQ2X60uw8Q/YVUzpUb4YhvMPv7e/v85VZDEpFWmoG5kvxcJSv61FFPh+pAxkj
dSCmSByEa2g5jylanBCfSSWn17A3QBC0ks1aWYgMyjI3KQjJii8U0SfZIAJKTdDkda9M0+5qnzrk
1leTgpHevrWXWKew/SU1Hex9pKaDO39VB970l67s0INTulh1B5JNx3CeWS7OWgTe6ZI488BJWAzn
NdRXpTi/TnCazo8z4rEuiZajTsSimKkjkSDiPirya14G9ogHuSR6OTiTi+G+mjoaLK5ZFs9f4+I7
f8sEzBKpHrlT9M1wtvJMJM8Uie9qWzaCZMm4DDG+ew9e/0jqt2bHd/6W+6grT0dff/3oKInv/gav
b4q5mznxnb/lVuCAjo/6Rbgm4zn2V+QuA4OktPgxemXARLxgs0ul9kjianWeazHqQ5VtayYn19S4
MrP7DR0rFbUF7Q9X1AerXD4/u7Wo/uqB7/lIyUZBlb2ssjhJsb28xC78fcOZ8bW9feuoDEhdCXsI
vCrrYpUl8gU2ntnVJhKILvL1LnVaXHixQAUKmx8fDEpoLQr7VVKLol2iGgVP37yKlMsGrY6FqlJQ
2nQM9r3nhY3DwHmw92N3ZAHYV9J1RWHfR2Drl4aN1WQe+O8MDA1hN2IhDJH4j+K4guCwLYVjfvg3
D98dcw/oVPKFcB+JzU6CiP8aUX75S1EgqvY8tP+Ft+wF8ByKxH3JzAT6gG2EeEBG6lmcKpyXKndH
/2I2KA3/Uebl2fP0Kvr2K5xXYhvhr/C/cJS+f62WEfXpLNCMyDmgKRpH0spzWEORXUVCCZfK6c6C
ei0GW2OBerW70m43lBiMk6OV3JfzLJ66n9+jL/QE0TMNstb6fWuri5yaNnlX3mbf5JWXCn/UrO1u
/W+Uk7OhqwevI1JTAzZnXpwXrarB28jsypodWIXnVdegv01H4Z1aCh5o7mx427Hazoc3MS3aOwrz
9Py4MR4m1tjZYO2iui4AWTR5ON9BYO9fKG6MQRc1ZTb4GqwmC8AWzSOpRbWg0yALM14Jy63oweJZ
vKpne9GqrvNX9rA95NwyGObFWli8DmTxFW5msJNysehALC+43tM57iE1bp186Dl3IDfNpXUHPLhW
+5MWscqtWfiHZJPwcX9jV6laP9p2kUVN8mSEz/2Ez9IL4FQU6+LcVsOesxxuicgj+QD3gnkKOU4u
zzlD/6JwbtbJOU/yzpGYZ+J/EUNibMv1tMuFcxcSIPwPJjLCax/hVT2XVzCpoLg8Lliaw/JGf3rn
rs70Ok1l1SzWuyvr6iqro7xfRXiv+Xy8x7AvVwQJMaouJNKQUqLpvbHwMDsNup6NT08NXCQFoRSp
xbLhEC8hyZWNSRqlXpOhys038dWWJuHXLUMouefU79ZmZSrylKrcRHtScUE5B8IB3d+Cr5fhevch
9Dr6GePCtz5WcImzwS8oFnpjWhSeqgqZ48tH7k8pBRLUuQYgwapP8HZX4XilqRDHK8VuWURwihzp
Qa4gQKQkMRhF2pyFCWp9fX8NCVXSU7Fgil0RueXId/Yp0hRyV2FxI5UNuacm2U792eXcVDOCDTrv
bTXhaZwpWerK2p2kdoDWot8Peww92V60ch5jXbR6XgiD5VughH5axEF5nAQei5bHo0TK4ZLM87J5
SDx9XIpRZBHPISO8nhZP2RflVcS+KLs1ooM+n2GUHTvzJDZgMuLPLXojUE6RLXQx8PeRRM+8+4HI
FMVjCp9j68Q7Crbz3FKg11ojvQJcC95a0KQokGyFcaUk37bwDQaUdEit0bE5STlpEnumdtf/o1yS
MXyO3MNT4wgLERykTDmeWbU5doMEbbrhhhDPt7hEBgv3VAQDk/UBVlUfCNTPvC+yZWWjNzMiuUT3
/DykBLaMuAxgP96bxAymW9yXaGw6sdxY3IO3vCWj0t8J5xYLSn8k1mBRepsWopeLp/fW/ii5TZs3
M3H07l4+vdx56D3Wvxi571Cc+B7aavQv0heGsaIYueo5FhvdJdwXIx5lFOP9QJtn4iNc5EdsbZnY
ByE8Qe7T2Mg9RI5eoY7e1Y8/wpLOxiQRr9ikJ6SyacNeYGdkE4pjMkNv5COb0R7CZTJChLeDOzPT
IuxqOb2FEynCV8Ho9Zvo/EzOz02LFiZuioKRPIo4T5ORmI3O0+nlnreI5mTpqRKThYueLkkJcpbe
FQY/ht77WcZtYUnMvTjfxeGb4pydJe4Qo8SoHyGh95DA/8H0eC/4JpInzvM676Ukax2Q15Xm11RV
Lu9+0gdx/k6RcFa8Y80vU25zLPP5hPd0zEgvJbyZDXNMdVSG/yYy9F2wDM205Jbsl/gO2fkFuYuQ
WrhSoi9aniB3zKWZDb8PUj0Hdjl6poZd+ODACA0RRBMM496C1z+RetW4cf6WMXDi8eEYLV0FO1QW
HmZeoPdh+fneqIy/fUUu8UF1OhNfZR2Q68HvlNqTiwt4nC1kGR08/xB7NY2jF4SAzy+OJWkUek1a
NjYeVdktLS3EfyVwXAXo1VZ8X4yld97BhkdozkFgaYMD/YQzYq3pHbFr0avRO2Lkvhq+JwV6Ru+z
a2bfaFfP0afYDfeXYtMx+7J7x1yx4xhZeFa8y6aZfZttLvzo7bbL4hQz/qJb+zyfgdyrl2xhVtCO
BbxY7YNv1wu30WKYx7vZt0msjPl/R9I250w1VCyWsrHPiX5mQDgr3tVXRmBK51CK4Z+NJxKwzGcd
9wkRnmVuIOe44m3DuTzXhhJnwZlYhMfZ9EgWoOfROfSwty0wF/hOmTKeHvk8eqZn08Oems8XCr8j
0pTGMB6p2YMnVS3F21KglF/Xb+FHQP5rHqmwXYoOCb9z2La9SPschH9G1ha51xh7TsbVuvnNIVv5
WOindbYr0Kjw73LblPCTaO3P9ohvElf7g+udosU+F5M5nFXd8x7MZuQM+U6QXM6iZ8gAafaZsYGc
ss8/IyaF0kATrJc1cfocpWnu3Mboe2+WQseRudB68cF6ofcpjYvRPBfTbPpPxjnf89loX0hPqZyj
PkaMJ0Q9gRgrqCJaqxHHR8TTiJ3bnwb6tYvKnEKdTTYOVMhh3nzJn55de+Q+fw0V8YznV/yYwdgv
VPDzK9H/pmfLE+c9m8fg550qt8EOscCh8qsEdqRmaSuTHFezlDm3Z1+sAgx3N0Sjx7+OOfjKsSln
0eSG0UpctAS6voGUgv238PzTT5+672zX6rbJA8cpI9ecOEHMWPSc/NRyzslFdB/17yIc7RgVOboP
VsJ6vBp+tv+yqzBbOw5F2dozPU3rX4AvyXfZ+4EnHDm6DHHVp3M9lNlXYtlSdEOsLLViTfWJHnOJ
19F2YFVA8RiesjHgdze7KkC9Wa/VMGI/Eeq/zd5oSdXedM3leO5qcRMSMm/s72HNGJhi3JvJSN1a
sd4aoxZ7BETdeBTHvpo6veyXwcetHq63tZSumdw+MtrE1ZWujjnyMmEcpFLD++uuI+7vaXB4m4oM
R6e2HW6y5h/clZFKHGE5coKExteBhG6I+PAS2kcE7Fgm1atFO4ng5OoC3URWE/u2QEeRL4h7Frkr
DHYuXVy/8beFaeowcmOYJ8YtemuYGDUJ8QEifU4sS9A3d7tYgNaX423dAiTPTCxg81xg86zkrnPe
PPrnGbsoL0nxhi7K0nwDF5H/JOFPvxR/1DAtwNanEbO3AEvIQO0Ti31BmIfTtBZsDh8i7NhU3BhJ
0cZm47QYM5EeMaAvZYzr83SJwXva8jvFPATWZPndYtgrRZ0jd81B56y4Gnn5t80xbee/cb4T1PT8
t87RS+LdJUV4hPTUcc+qW1/gbuU8walEuaEOUsSeJC1EZ3z4NiUWnfGKiOTs8ojkdBeB4LalF+Fq
9qzsDvVJfHmyuTJyebJ7luAKVFhu/dvo3fwRcjffyTDqKI0uEJdnOaL7FN90UqyUctVNGQtLr9CC
pdeZYreY9UBZb1qgssBZtbgAPa2RPi9Y1/aDrlV8Hl0TPYTlqxvaRjf65aucRBNZX1Tn8P0Ex4Xo
nEjj+dUOldJlfn7VY9dFaEqAeIH2TlLHuifNNZSkm9JQnGkUGyvNbJrn70shZqB9FIyLdVKYC31W
Z4XVcbHyvCYLgn0ePtL7CWyjlHRBiNBPJUbIJlcFvN4Iyagw5utJw/9CFkna56b1/8RZ8Hm0oiPz
aKU1wO4lapbxFb7Z1b9oP47w59dBd4jnnzQ/PLFEPhvDnNN5wk1OA+Zmhp+uFfP9lM6TADMPZysW
pDQrVrtHk0lkyGzafxziywuN5deSOjv4WYiPr/GmQp4PGZFco7FotHE572cJfusiXC2A3+mezeZ0
HHqNRTufY1ZFSwFNSI4HaGO8b126Tlv0OGdzOy26mwvVan8qOraUtzvE+gPtEhUI/LwqhCC4UesX
rUSgtQj4fHkD6XNmJOda0sQ5p70eEYUsipf11MidJnxIg4+XDTpN+x6tfqC/vWU1MBLYXp3F6fSR
g918qdfpGUSPCO3dw6uAQdLzZDV6Ab2Ka8MMc7OOUYZi2Hh0+0q7XpOuxidCFTmUM8qmoVA8GXJy
IltchFGQG61xD5Ea98z4KncxSR+pdK/HZWBzKt0j9Wuk/xn4JfjuaFwHNHzmEt8FTfgBuBSRVmgk
FMfnXbgPCfgL4rORTiTYPRW7kfwG5ibSkUS8lhzF2TQXJ85OxON8pT+CkBx4RfDtnocPnhPxXdwf
xbYbn5FFcG2FZzJn4aLWMB7dPmoUozi3RvODFO9dERhRvBSGiFpH98Ao/rsiNhUxfHg7eoC9m/RB
8ZDTXjnn4XEP1ypEGyZkQJTASRJxj0U+VbVCrpMMtqa25qTkGKrYgtSMVIVWom5LaR9KzdFXS270
s4pM9NisnlwNbpk67r7G5BL3NcStc45J3RdJKs43R0eivjDEFLTPYd3n8StWzNk3LsDBUMV2leU7
Gd9c6FwkE+IS2k/JeyH+xtyQ5fyOx9uxTfv8vscX5u/h/1/7IKQvATKBzieSvgS40MsgaphMXBiI
9B0xQWyF+zyL+SmTOEg8H1qq1wRiNrAr0Un2KnxSjCJJHCfqimSQLmGviiRfEPM6m4aMYDsIHM6F
jP3UQmCduAfo6IW9NQmfoc7eROke+jO6ax7V4Pu5GvbZyBap0NAtEvf0CI8xp0nXASaaMBFtfr3J
FtlKJEgfrQeJ9GvMRAGgS44z5PNrX7tptevsy3SqWfccWeYEm4LOsLeK/VvEjfIE3nrxKUOKuBEu
3ue/hXmP3YAM9HODsoXVvFdbu8TnBvj8o9jnBvZHS39eiL7FHATdwx085iSKCqnyJiNwF78lKlFu
OoqeS896do5+HoxT/HsXONNmDOGDzH5mF+5b4Yk862Ppw/vpw7A3AOpdkacl0hUoZisAN8okuPXz
KecX58S9OFNzWJyDY24lBje3MiMzxrJ7ce4XsnsgC5QGssjAu5BxMTwR6aC0eYjmSIrCvlI1X26g
Z+HdpIdpCu2TiosxSLX9b57seOKJDvSjhpk/s4qGV16JjH2b9P+O9FSlTZwiz7z95JNPtj8Bf9rR
H4LCa8HHHw8iZ/Cxx/CzPQgx59C9uFIed5oRG83cgwocpUGHA90Lr6WcwUF8TFwd8gn5LgtaJy+6
SPR7LdasGV0zRf7AWCn+PpaEH8Z9H4uH8ePz9Av6Thbj5/ueFtQa/6/P9izzW1tqFvkOF/x9B1PM
N0nfEsZDWxN9M64pkeifwJin6Bh5XEuTSDcT2seFnUGfSBqidvgTIVXSQJrOovBluP6ZvQn/Dnf5
QB7SSoQ23sDPJoJPomCvJd9rY5Bijxj2VXB4VLSQldhJ2IDBJyIesoenvduIZ/QIWqE6hxB6S/l8
cmrOcEU+b1rN+y7zp/YrKxHqVPqybr3U0WAx8K1tE+hqR1IqWpkhddi1Tm9W7mpd02SrIy0rOcVx
+TGVprVsnK4FFUqRJJO9VRG3t8Z36Vah4v3lf+nfubPfeXnJAXarwyF8CY3Dz0nhCdQs7ESbSPPA
25hoz8Gb2G9gP5EnrdkiVbu4r3lcc2tl0tOPPH70sqGtjz4tfPhka/3IRUeebNj0zLEnO0a/+J2L
Guo2PrWrI3jTzu9M1Il0hs+h18E24G5PYNfx9+ygaHYEUGCnJf7UfzQzuMFb2bRvYvWhg6vam6Sh
klWdwZHhWv+qPvZy6wq7k39w1YEvHB5dfVVt9d5cXhhtrB8fb2xYjXGtgJdbSR4xkVamGg2SFSh3
EBlmXkU//gAnDivZPMovE05kT7Ef4jUrM9BFCwvWIL5z7Knh4X+tEe5c/c/hYfbD8s8OlZdLDtFX
+rwanl8Hz2eQNW82JCGDB4sqCbnYVZ6VQjtihBn0fELFzGMoQfiM/fDdB4QBoeiBdyvQT9B9bmrb
mW+hfzAfRfca9NNv4b3mvLq4WD+ivPDH7AGJgvgSSg5JgBO1nD1wg/De1qaphr9KFPxMJvKXv8fe
SM4DwgLzKHsa/Rn2FnqTxk0MkHgVjioA+eoPXFIqNujDBSbtvRuC/X2BDf0D4/WDg/XrLmtrspbx
VrNvn6XeZOV5awM6uH3g+NDk5NC1Q6fG+QGX1c3by21FLqCxI5yI7gO5FZJKNwxbx4p1Gh4+8l0p
snLxpp4K3VeRpbYmSHPrtqAqSZIhOylJmprtzbElydi16pLCoNo4M+kzZVXfUSkrypJ3s8dDHpVd
makj50BgNT5kV4DuFS/aWVGPFm64+ANTYY0xyz5uVWUX6YyFNeCgb9TLSspmf+zj6MfsisJaV1wf
xn6uVmzLWOPCbRkR0DIItHjJHuGJNPszSM3iN4cheU1F2a2Pl78v/DPgrTj1pOtDdPYy9fqaTTVH
VDvhVewjlo8+YMdBu5Nj3yqCDZn4zSLkrsd48IFv1L/cILyJDducZ+g3h+hYg0v88hBBf2X9A98I
vhL8E+29zTI9oEMh9n6xl6A8Bcmlajlqn5n5z38efvhR9n7hq8I9aJQJh8NMWOzDjLzgI+NGqTLa
TYub248ZeVta21pj7ZjR84IPHcE9mOPiP8CNYbkAVhbueoU7cc4G51S7KLwPQqFGEV6qSpmgyGFP
z6yPA/jWKYlCtg/Y+b9OyxZKAAB42p2Sy27aUBCGf9uEEoHahFZpFWVxukFEUYxNhcJF6iaR6CZS
RJRkDcSAFd9kDIhnad+hm+666SN02b5Ed9335zCpot6E6pHl78z5Z+bMHAPYN17DwPp5hYmwgSI+
CJt4hM/CFp4bBeEcSkZbeAst46NwHiXziXABB+a1cBFPzbfCJTwzvwrvYNsyhXeRt/aFyyhaLVY0
cttcjXT1FRvYwzthE4/xSdiCjS/CObwwlPAWUqMrnKf/u3ABTfNAuIiKORUuoWq+F95B2fwmvIuS
VRIuY896iVPESLBECh9jzi6DQh0OXL4KA+4oVHGFHm5wiCOawhk8TLU+4qoinjnfQGcLSZHO1CUP
8AY4jZNl6o8nmao7rqMGS1W96t0cHh2pM2/qjyNVIcy9IE5CL8pUNxww6FrnmbHWuv4517d0e9Fs
yuhzj4sefWNqAvTZA3reeBb0CS4n6WjrSLQi/Zrx+D6nazuO02FS1blPf6zz/zXid1mqhxLroTws
f4FL8bh6PaEmw1Ar5z+1Nho44W7IRu6YbaUZ0Rsw54BXstbUqW6iRS0PkE79OFLro19cElynM4mz
YRzNV167cdIJ+3denI3swB/U6am7zVZj46b+997xr7uF/skyytuo0RbabJ4m5Teh2TyJR1mWJe1a
bbFY2LN0kST2rbdJ7Gqu4R+ih3H4sHElva1bVjwwZAg+9ynlBPxZuNFP+AMmi8GhAAAAeNptkmdQ
G1cUhb+DQWtk4d5770USBoO7QDLGYLApKaSuhRAKICVCchLSe+89k2TS66Q7vffeJr333iZ10h3Q
24nXM9kf79s7e869Z/Y+8sg9W7ewlv95tL7vII9+5FOAB4v+FOJlAD6KGMggBjOEoQxjOCMYyShG
M4axjGM8E5jIJCYzhalMYzozmMksZjOHucxjPgtYyCL8BAhSzGJKKGUJZZSzlGUsZwUrWcVqQlRQ
SZgIa6jqzVnNOmqoZT111LOBjTTQSBPN7MCO7MTOtLALu7Ibu7MHe2Irj8s4kqO4j7P5gqM5mRO4
kGu4XP04nrc4gjP4kZ84iXM4lkd4jx+4iGv5hZ/5lUu5nqd4ghvYRJRTaeUZYjzJ07zAszzH83xJ
Gy/zIi9xI3FO4zVe4VXa+ZpvOY69SNBBF50kuZgU+7A3abrJkmEz+/IV+9HD/hzAQRzInVzCIRzM
oRzGN3zH3cpXgTyy1F+F/M0/bBXyaoB8koo0UIM0WEM0VMM0nN/4XSM0UqM0WmM0lj94XeM0XhM0
UZM0WVM0lY/4WNM0XTM0U7M0W3M0V/M0n5u4WQu0UIvkV0BBFWsxf/IXn/CpSlSqJSpTuZZqmZZr
hVZqlVZzj0KqUKXCfMbnXKmI1qhKa1XNG3yodbzNO7zLB7zJ+6pRLbdwa++dup07eJQt3MZjHM7D
HMN1PM79PKA67lU9J2oD53I153Me32ujGriC07mAqziFMzmLu3iQh6xsMuH3h/wOw1aoy46mU0nL
NvSENqVjm2MeOwcrlIqnkrEOyzb0hKN2n6jVINzrsDNWxGkRM/RGWlMZOxqNJTPe2H+vVsRpFXNa
RUyPWA6+qmiqq8s2Ul/cVVjVTveEw2qnT8LQV+N2drgKT60dzWZins4cfLVuXed2OpOk06DOuJLG
Ved2Jd2uOiNP5mDVO+lShkX17dlk3E5nuzrtbKYo5a48DWZC2kxocE9Iuyc0mAlpg0bj6jauJrcr
43Y1GXnG5Gp2cmUNC5rTiWS8INt3FjVvlzHrrqxm5y9nnW21mOk9OXhbtm24Z9uG+65UIFzsa3Rn
63bvsk8RDIQcVhhWlvcx6A8EvG2JeDYda7W72wvttkTvBQ36y8zH4kh+JJtO5YpAsDTHYKDEYfm/
riGLrwAAAAAAAAH//wACeNpjYGRgYOADYjkGEGACQmZGLwZGRm9GHyCbBSzGAAASfAEieNpljjEL
wkAMhV+upUgHh252Ohykgzg4dxFbQXqlUNrF7XAQ4dClP8h/eqZpKYhDXnLfvYQHAhDD4QNVXEyH
tbPDCylC5vAe43+G6HQrNY7ntmMtyl4jqxujkbdNzdq1FXPxK/bTMimZAmEBQmvdgNQ9HxZaNHPv
u8Nh2hG/WtyjEueIkXCerTgIeu47SUjYzz3nirBhVfCEv1fCtRrvUcXMyO3rDzfMm4l/AadEIE54
2qWae1RVd3bHf+dyucAFhMtTUJ65gKImE2MgIDROi4gImkEUQZzaNH2sziSdNSvTZk1X2ywfSLry
x/zhZDJO40rMoAnpSldGDKKCzqQaNZaMCSbE+IiZRgkKongvb04/v33ORaFJk66uuzbn3nN+j72/
3/3bv/3bB2UopdyqWj2uHCWlFdVq1g//7OmnVLJycl+ZptLP5ynXd+uWp6t5f1JVzd+S5ev4W7mm
gr9Vayr5W121ir9T7Y0f/MWPn1Kh+puIUznkGqqMnHky8rOG24gzFhvbjBccypHp2OnYE/RM0Hnn
E85DwWWuGNfPXG+7PnONhvxb6OOh20Inw55wr3c/HV4X/llkXeSRWZ9Hl0X/xnMwJi/mZ7EJsY/F
bokdj8uLey2+Kn4gwZVQlPB44uzEP0rcnPgviScT+2dHJLmTNifPSi5KPj3nR3M65i6Z+9O5Z+be
TklP2ZXyWeqs1GdT/WkRaTFp6UhMWnna02k/TXsW2ZV2MN2RHpceF5vA38z0JekN6TvTd6W/ln4o
/VjyrPTJjIiM3Iz6jMczfpjxu4yTGf2Zj6X6Mxsyn8/8TeZA5uh9zvv+5r4b3lJvtfcp77Pe21nP
ZHVmx2Xvyj4290xOsnIYC1SWcb/KUiHKa76n8lW4KlDRqlAlqKXmiCrifrF5U8UpL/zkq1SepvE0
Ry1VsTxNUcXcX07rlSpKlSuPWqXiVYVKVJVqvlrN/TV8X8u1XkUbuarSWKXmGxU8czJLjJFjThoL
zAnjfnMCtr3Mlq0yVa5KV4sYZzHXJUgerfPN36sCcxCtrqkiNC02e1UJXK6kZ7mKUetVsKqF4Tos
2GheZ74Qtcm8rLZybUB2II3cb6JPqHKbt1UkraOx7Gks+Anf/8G8ii4muphqrooxr4JKEpYm4VNJ
aJysFiALkUVmj7pfzVEPIN/h94PIw3zPV/epR7C1AEsKscPCKAOMgtHTp8qRCnNcVaJzjXlH1ZuD
4JEAHgkqCC2SYGMebMxjNDc2RqBjFFpEqzCQzWLUefx1qWzzS5ULDouwaTHflyB53M83j6lHsLEA
rArNC8yfA1ZtzO9Vy3hewjjLwbIUPVYgZeYQOg2qKq7Vph8MXaLXBn7XmjdUHW3qkU3ot5m+T/Ls
OXB/kfl2Mc+vkH9FXkJ2mx3qNdq207fD9BlB5jEjGFlgngPRc8bD9J2Njw2hvYnmYWg+gdYhaD2M
xn1o7EPbP8DsbWYdVVtpuw3ZjjQgO5BGtNpJv58jLyAvIr9EfOaYUcwMmeCVDFbJeGYC3jrH8ik8
OYdZcxlhEYwv5ncez/PxmwJwLwTpIkYppk0JvcvAqArO1vO83hyb4UOjzD7CzCP4kkftQ1pp68MK
vwqGQQ8MevDeaDzXa34BZw48xsROzUwvdmovvsKMHzPjp8xkMMu42kLbrcg2ZDvSgOxAGs2PmMFg
dAP/cqNDNEh5sVHbtRib8vTo+GgB9wq5LkWKQLsYG4Vz2pSCzgqkDJ7LzQG1imsFOldyXc3zNXyv
Ytxq2ui1VINH1pqTaHYb/kOxeQibh9QpcwQbE7AxgfXpZrVFmQfR6LbycPWaJ9BqCKT92HwE7Xwg
7UC7LDTLQisvWoWqEtqUgcUqbKpgpkqua7hW4QfrWHkbWGH12L6F8bYi25DtSIN5HEyOg8kraONT
exinCdmL7EOaGbOFMVqRNuQw47Qj79D3uHlS3TH7Ycqn/Gaf4TZ7sGSOoVdyGuttFN+J5qP9Jwr/
mY//LBSPXYB2+VhYgPcVmrdg7zrsXRJPLQGrKh13BKsJNB76Ws9tou0+pJX2fom9TmZ3wpCXlbcQ
XPK5FnGnBJbrGbGRaxOyT8cs8eVF3NWtCvheyHWp9AgG1aCpHi60HiZCRfIkDA2G0WAYDW4xh5s2
EXAXjV97sTAL38kGIYkn6L8Y9Jfw/WFszgOTfLApwJMLuS4FlSL6FIPRMvyrhL5lYLEK77Xi2ih+
NAmLvTDYCyZfoNM1YkcCeqXiQ1dh7SqMmTBmwpgJW72w1QtLveoEfX0895u9YBMFNlGsV7e5RUXg
6dHmLjTOtKNfD5HXkOhnRb5DRL5bMHQYhs7CzltomaqWMZqsaEauFM0m0GxC4stm+m5lvAZkB9KI
PIc1O7n/c+QF5BeIjnYvMfZuxtQrvpX+7UgHY5zimQ9tg8xDRLtDRLvniXbPw5YX5B9kdeRzLeS3
7KTwpD29ES5TsS2J0ZJoGcquF8quRzTXtvC9kO9FfC8WXwgjIgVJRNqA52zleQOyA2nk2XN6ddL2
RWQPv5uQvcg+ZmmmX4t4XLBqQ9rpn8TMxBCs9XBNYd5UPNwLotnotgh5iJHy4DOfFWT5vA+f/y9Q
/QSfv2zvs0722VH2WB2pe/CyHrysBy87TySmLbOnExsOwZtJbGhjhnPW7sXcOVzJ51hjIcw/i/lD
8E3t3e/it6HsrKHwGwKCGpNINAohE4jEK0PhOxKM5rDT6lXgAatYtPNbqwCOS7hfhr+sZBdfhf0V
aFrJdY2O6lhVg1512FzPva3otA1pQHYgjeabYOgCQxcYumTdNTNWC/1akTbkHdodJ3b7WEd+cxxP
fQBPfQANI5hR4/owPZeh4Qaw3Aze7Vz1PhNJi/skVsrKA8VsVmEOV71HzEefXNBcwHUhsojvOjo8
gHyH3w8ieud6iOsSnj3M/Tz665ztEewuZBZZoWBhrdBUVug4WNzGbr2rD+L3A2iUIqvxOfoGdrKX
6L+bKLWH9k3IXmQf0kzfFvq2Iofp3450MIaPPn7zjhGkQo1gFQ4GyWCQTK4TjXhZHdmy307gT5Fo
PWmzFow/TaLhAEyNSJRbRZsK2laizRquOpZWY0mN5CC3iCEjdjYwAUsTsDQBS4N2VAyRWOrjnhVP
w9AiTH0frCP4zMH/zoL3B/jfWZXCnptKNPKSJWWhSTaj3PVDF9oOgL2Owy6wb7X9MATsXWDvwop+
yw+5Wn4YhEXZth/mgH82+Cfgh1ngHwb+aeB/lJ33MBwcZtdtwx8dtj86bH9sZ787otYjG3hea76N
xYewuFV4ehJdtyBbkW3IdqQB2YE0mr8lVvXDYT+xqp9Y1Q+X/eRD/fD4Pjz2w+FRsrLD8PieehNU
WszT6gCrsxUc2pj7sHlG9scOsxO/PoZf/5YofFSdND9UXfQbZIw77HQ+rn7aD8PIpPmhocwj7J+f
GhHmhUA2QIZ3jD0hCp49YO8lduTpfRMkrBwrlFU6ap8obsD3uHoMvtfiD+u41tF2I5zrPXQTXreV
/tuQ7UgDsgNpRPOVNq8fwesAvJ6D1wl4nWTGTji9IXzmEpfvcnlKeFzMDiO8MUuAN82VxdNFePoA
nj6Ap98LTxY/XWh3GW4uo9klm5PLcNKJhp1o2ImGnWjYiYadaPjvcNILJ71w0gsnOlvuhZNeOLkI
J1/CySX4+AAuuuDiPFx8ARfdcHEFLj6Hi8/gohMuOuHiojqD73bR/iOwH2ScO/Rjz4GPLvi4psZB
fRIu3OYV+LgCDzpCc5oAqRyQ6mdNBoFUH7pHse45y9EiS+86Oi/mOg+ZD0+5ZAmsIVALA7XPWAFu
kHOzAvReFia55kNcOZ2Aos5D5oNiKPzmwu880MzB88NBNBNE+0C0B0R7QPQqiAbbmZ6OxC7JEdax
227QZzW+byYqP0nk2qLPbMg2ZDvSgOxAGkFjJ/PrPPQF5Bd2PvpLiVp9INsHsv0g24OnOySvOGDn
Fm3IYZ63Ix3M9w7jHUdO8PsM7buQj4hwg4x1h7Y+ruQgoHsddJNB9zro9oFuH94+H2+fD8p+nrjx
3AhOuNHM7AWNbHotZjR9IssH70LJmOaCSIJkimX4bBXn6Q1yxunD6jhicS6W9Ehm2MzzVp6389wn
+WmkofO470reb3n+O8x2Ej5/h+dfwPM/h882Zr4If5/A2+to0I0GH8NRv3i6FZ2yJDrp7NvaGTrQ
5m24aSH+TqDVQdbicfL/t9HuOJHoU9vbj8JJG5y0wUkbnLTByX442Q8nb8FJN5x0w0k3nHRjSTec
dMPJf8DJVTjpwKpj8HEUyz6Hi4NwcRILL8JDGzy0wUMHHLwN9h9idTe4XwXrs/dElqPkFG/pLB1m
IziVRelcnR4ecgcvWs7DGxcii1lLj2BNIZgXgZa1D8aDfSTWjkqWWoXX14KUlZ36bQ50dvoFu0ok
PESi6YidierTTjRaRIOdV6LJxIycONqugxicrROJT7F2HSTBroMsUKu53q2DxOmzgJGrijj7Z3L2
z9Q7JnlBFus4m5664pDLqAu4LkQWYbNVbUhmJSaxEpPIiaJYicnkRFFSecgDk3wYe0SfaMV+J5pl
stNeRbM0tQINV9KuHFwqmK0S7ddwbVYZaBGPFvEgqU89HlqUy7lw3K4HjE7twxu1/qyNTbR9mRN3
jjmqqze6TsHfKB1lkBTsSJ0axcfeNsEIfXerCeiUin7B4BxHr3RsjaJnmn3mWqQyiZCLsK6EkUol
+3XLSVHnzqslMuts2I1+SWRzHvIsJ7gasDcb9maT8brJC9zkXU7yAjd6jk+dy2ehbSzz6YpKmLUu
8ZtyrNK61mJlHZlIPdFgE1Zr32gyJxnBh0VOnkQyTxRjR4OYHiGFTyqfTHy3BL2W68xTzthj5DYa
gWHO1yPkNqPoG2TjOcAsQ+x3A+KBm8hEXubapIKMeHPQyFGGrkThBU7uWie2cKkFRTGqPrl5GCUF
DVLRPxNdl/GsFH1XEDt0vifVOK4Vtl1ruFYJFyaIxbDCsZM2MrtkqbNAziH53pu0baFtK9ImFZ0R
oqafteBjZQ4RCUfA4xqIhoNouFGIZjloOiLIRuIzGt1o4owHsdBJR8vL1krEmhVgUoasRMoZeRUj
VxLfVvN9DVKFdWu5t07XpPhegy/W0raO7zOYIVOdlHNkM89beN6K+PFLGENDBxo6dGUQXHTPDnLW
HHMYdMclG0/gb5jkpcvwpXL6ar5qearP85vosVklWj2Ui7FctNbxPhIPWIaH1tN6s/Y4NGhFuswJ
Wo/gvU7661b6lBeN9+uTXgo6p9JaM1ai4wU9Snm2gqxF7wwr6VEu5+lJOyeeBBNT8mKdK+mdQ+dL
1VIlMWVl1YC01OvoqxndiHaCEff3yJowOMkYsGvI7tLCGNYOM4S2fWj7CbaFYFsItkVhnc7eZiIh
q97CDk4Dq2Wt5Og3aeG3ebFauIlFB4XZ6a1897YSDqKkCqvPox6wTWGNsZLo3U5vXU8YsbnX8WeY
9XKLEUYY4TprRNdNdNwJxJkaWb/3xplruhIp+2as+F4pLTVW2newX1b1ozBlyr4SSYsoYmg04iEv
SwWxTKkIhtpMjdqeOwZTs+0VPjnFUhXXtVyr0XA9fWrsE2AtbevwlY2y3kyYcatXeL4HeRXRFem9
yD7W+GvM8TrjNiNvIPsZswU5gLQibchhxtQnyg7GOkG/0/Q5g15dPLuD+IlXTjXHcCFuIkkE4iEK
xiLxEg3fhfEYGI/BYh3TosDDA0ZWLEu3Y1kY63McK0ewblhYXI/mtTCoubCYHJFqQ7N4/XUYHTPu
Z7wFjOqzvT8UPIfsSKArskmMzsmAEUpoaXn/dTDtY6Z+8LyF5w+C6S08flB9T6rTt5j9NrjewOsH
8foxsJ0Fk3fANkwq/vW00XFsD8+akL3IPrBoZtwWnrUi7bQ/wf0ucwBtP5/y+nC0DEfDcLG1Urx1
DBsn8LexQHymxxA9gtmnI1lhUeR50Xish2sgDpfQo5QVpleyrrDqrMo61ersahDdJ0T3DfCm672v
8HsP8irya6QJ2YvoaPY6/fVqfQPZT98WpBVpkzO4Ccdao9v6PQo93FJbSEYrP1rNQiu/vZY0lyMS
a0oDMRdNy6X2OynvIax6nY63E2g4iYaToJtsncNg7RWNKvIq8utp8cSBlsMSd99A9jNGIP62Sfwd
A69EEE7Es5zctfwh1jq3ibdpf0hGw5tSpyiVveum8F0t8XqQ0XW0usVoF6YicAqjjbMrDkvs1hEr
2uYvhUwqFYYyyTNLQVqvVOEUTNZwrRIGJiQWTl9lE+g+IZW9NuQ09ybFp3XcD2bWYMZ3oou1uzmx
4Qs71wlnxgjZ1crI+Sskv78GxwOS3zfJur0GZ9rnzsp7tGA5GRTQrxBZim76hLAcL1rJiiwHmVW0
0++ErHdo8eQ7CeSO8eQ4MeSON8kdi8naMsjaMnTtmLWm3/wUkFfpdwtFUi/wkaX7yNJ99OgWH8+S
d0iBd0eB90bWO6PeqXdG+n1R6rS3Tt+mxze9Wfqqt0pPsg/MfEPk+T/pGRhNv3u6553TN1p7fdoo
c2dY22P30Ke4nm9l7f9u6W2x9F4rU/7fM34zvv9z1uB73hHNlndExfiUIW8VgqZqvbrG67Z35OnV
4XurwYFK8De3DNSNmQcbDakLuaZVie6tAoVMe7LcznsCT2O+8vSrT7yB02kDok+egRPnYfPU1CnT
PmEaCm9xSkVd79o1kuGMy9uuQLVxiOfrps49ftkD4uyd8qszf531lxI5VsiOOSbZfrW85b2b7Qd2
ksA75qBpTwzJtYKmch2d5zjv/WV48FtD9P26rOnat8qaguwsL1ziXIj4m/ax+q9YSRG0XShemoKk
wnE2Wlg9jhCPEulxRHUQ54PMj6SHITVqh5zZ9BlN51SX4OsifA3Al49YeQn/PQuzfezv/fjwOdDu
IzJfwYdvoMcNybz3SJ3sLDyeg0edsd5Et5ucP26S0cQyWpis63z8oQApgvda5tltHtfvZtDoJBqd
1DVJRvYgdzU4D1OdaPE+iL2PBmfxsV40uMje55R3V/pMtod2zTxv4fkB8w9SQzrNGGfMTsMhbxD7
OK+Ny8ksFpRibH0OTXsPpXWq475+f2TpJe+KQGoD7IRJzqnzTZ1nrpBMy5zKH3XuuElWWdQ9WWmg
pd7fdNYZyDL3yNuKMckYdZZIVqgzQNjQvql9wTGVyyWxZjpYMx2smQ4s/U96nqLnSanOdMi66Ziq
B+ta8A3zhBqQevAFzoEDdt3xA4O93XAhVj34U/z0AuycJ9cMljdAX12B1xX2QFVbV7RftKvWulKt
q9S6Mj2zKm1p8Z6txSWpRltafDilha5I421TGiSggX43fRvWdTXyPH53Gb+7DHIXpba7Ho1qJC+7
IjXeTaJJD5qcR5OLUpft4P648sC6X+qs8bJ+dSYQyABc036VshfrfKCFsZ3Tnui7c9HFT8zwq1LY
WYGUISv1+3D5DxG/ZKGB0/BjyPf0+Z0Z9am4Ghatk/EgeveJF1mRZIS13m2ffc6Qe/hVK33aea7f
yXSpbKJYLn66mBi2BMnjdz74FZAz6frtUnnrGE9kH7P+t4bnVeiu8/4a1notYp1kQlj7oZJxb2Xc
BmQHot/KN9knmVb6+ZjDr5xTFaZ47F8NH8PwMSwaLVN/jCfrE/+YVR2hZy2t6uipz0qbaTF9hl+R
T5GdqSBDIQ6pOXmxLFtX/eF7Eb8Wy9vCEOyby2o8y2rsZjXqd/Yn2fMymCkexL60dkps2ISdAYRi
pfam62t3EUq0Ecqx37bfi1DsDIQS0D0JhFzWfyB9LUJuG6EoG6E4EIqTbK7L3qetGYsYdSYCuhKZ
NcNi1wyLPxaL5T9BzHexOp1Ip+NKHJb3YPmdKcsbabObM2Ew/YKkglpkHpATiwMdnPKfcvr/PHTd
K4YWmXxCmPNR/X8c6vt8+0c+j6ot6jnY2ql2480vE4vWYuk+ZmxWb4DLm3w2qv3qAPO28vlTzrAd
8PsOn8fVcT5/rk6p0+oJdYbPX6ouPn+lrqkv1V+Dkl/9QA3zeZJVOK6egv9J9beGwwhSPzKCOen+
2PBwxn3aiOWU+xMjnpX/d0YOu93fG7nGA+oZI8/IU/9kFBvF6p//G3c5uyZ42mNgYGBkAIJjqdtP
gejzcj39MBoATC4GvgAA) format('woff'), url('VenusURW-Med.ttf')  format('truetype'), url('VenusURW-Med.svg#VenusURW-Med') format('svg');
  font-weight: normal;
  font-style: normal;
}


